[2015-10-07 23:34] benwaffle opened #1 "give me write access"
:pencil2:

[2015-10-08 12:08] SkyzohKey commented on #1
ah, yes xD

[2015-10-08 12:14] SkyzohKey commented on #1
Done. :)

[2015-10-08 12:14] #1 closed, assigned to nobody

[2015-10-08 15:06] SkyzohKey opened #2 "Losed all the issue when recreating the new repo. :x"

[2015-10-08 15:22] benwaffle commented on #2
oops

[2015-10-08 15:22] benwaffle commented on #2
it's fine tho

[2015-10-08 16:04] SkyzohKey commented on #2
Yep, will have to recreate them (using browser cache ^^)

[2015-10-08 17:38] benwaffle commented on #2
no, we'll create new ones as issues come up

[2015-10-08 17:38] SkyzohKey commented on #2
They were some usefull issues :x
It was much suggestions nor issues but...

[2015-10-13 10:16] #2 closed, assigned to nobody

[2015-10-13 13:05] SkyzohKey opened #3 "Woops, i did some bullshit. --force'd without did voluntary. History is empty :x"

[2015-10-13 13:08] #3 closed, assigned to nobody

[2015-10-13 13:28] SkyzohKey opened #4 "Can't edit entry_username & entry_mood manually."
This is an issue I can't fix (don't know what is the problem ^^).
Try to focus the 2 entries a the top-left and try to edit them by typing text, it wont work.

Anyway you can right click → select all → delete → copy a string → paste → press enter. And it works, so how to fix this, looks weird and i wasn't able to fix. :x

[2015-10-13 16:03] SkyzohKey opened #5 "[friend_list] Adding a friend from Ricin makes it buggy"
When adding a friend from Ricin, it does not show up in the friend list.

[2015-10-13 21:52] #4 closed, assigned to benwaffle

[2015-10-14 20:24] SkyzohKey opened #6 "Name not sent to new friends."

[2015-10-14 22:22] SkyzohKey opened #7 "Resizing to the minimum produces the GtkPaned to split."
When you resize at the minimum possible, then resize at a normal size, the PanedContainer shows only 1 child, (contact list or chatview), you then have to pull from left/right to get the contact_list/chatview back.

[2015-10-15 00:30] SkyzohKey opened #8 "Graphical bug with line_wrap on long texts."
![The bug :3](http://i.imgur.com/J7bQObT.png)

[2015-10-15 00:30] benwaffle commented on #8
Is it the indentation on the left?

[2015-10-15 01:36] SkyzohKey commented on #5
Fixed by [ff3ab8c](https://github.com/RicinApp/Ricin/commit/ff3ab8c02b1657fbf1f77ea610ae4bf16bf86c6f)

[2015-10-15 01:36] #5 closed, assigned to benwaffle

[2015-10-15 01:46] SkyzohKey commented on #8
[**@benwaffle**](https://github.com/benwaffle) commented on [15 Oct 2015, 02:30 GMT+2](https://github.com/RicinApp/Ricin/issues/8#issuecomment-148240597):

Yep

[2015-10-15 13:28] SkyzohKey commented on #7
Fixed since their is now a minimum size.

[2015-10-15 13:28] #7 closed, assigned to nobody

[2015-10-15 18:09] SkyzohKey commented on #8
Hmm, when Groupbot send me it's ID the identation is gone but another bug appears:
![](http://a.uguu.se/pqdpyg_.png)

[2015-10-15 19:19] SkyzohKey opened #9 "Friends are not marked as offline when they go offline."

[2015-10-15 19:26] SkyzohKey opened #10 "System_messages are sent to bad contacts."
![](http://a.uguu.se/mlzxvr_.png)

[2015-10-15 19:35] SkyzohKey opened #11 "Offline contacts are not shown."

[2015-10-15 20:47] SkyzohKey opened #12 "Allow viewing profile information of a contact."
_This is an issue by @SlugFiller from the qTox issues manager but i found it interesting and I think it would be nice to add it in Ricin:_

[**@SlugFiller**](https://github.com/SlugFiller) commented on [13 Oct 2015, 16:08 GMT+2](https://github.com/tux3/qTox/issues/2391#issue-111187846):

[2015-10-15 21:07] SkyzohKey opened #13 "PGP plugins to encrypt messages before sending them in ToxCore DHT."
It think that we should provide a plugin (or an app feature) to let the user setting a PGP key making it (the user) able to encrypt messages using PGP/GPG before sending them to the Tox handle.

If well implemented it would really good → even if Tox does eventually have a backdoor or some bug that breaks its security this PGP support will make sure it's still safe.
## <bountysource-plugin>

Want t

[2015-10-15 21:21] benwaffle commented on #13
If Tox has a backdoor, nobody will use it even if you add PGP on top. Also, no other clients support this.

[2015-10-15 21:31] benwaffle opened #14 "Add UI to create & edit toxdns entry"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27445860-add-ui-to-create-edit-toxdns-entry?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github

[2015-10-16 00:04] #10 closed, assigned to nobody

[2015-10-16 01:06] SkyzohKey commented on #8
Fixed by [f46175f](https://github.com/RicinApp/Ricin/commit/f46175f0b74791a0c3e9b9166640bdbbc81039fe). Closing.

[2015-10-16 01:06] #8 closed, assigned to nobody

[2015-10-16 11:15] SkyzohKey commented on #6
Should have been fixed with [6490269](https://github.com/RicinApp/Ricin/commit/6490269b37d300aeee012fe361e995ce3f8de9cc). Closing.

[2015-10-16 11:15] #6 closed, assigned to SkyzohKey

[2015-10-16 14:07] SkyzohKey opened #15 "Friend message entry scale with text. Adding a GtkScrolledWindow make the app segfault..."
![](http://a.uguu.se/jovvux_.png)

I tried to add a `Gtk.ScrolledWindow` as a parent of the `Gtk.TextView` but it makes the app `SIGSEV` segfault. This cause the `Cancel` and `Add` buttons to hide. Need to be fixed.

[2015-10-16 14:42] #15 closed, assigned to nobody

[2015-10-18 00:21] benwaffle opened #16 "use read receipt cb"
This tells us if a message has been received

[2015-10-18 13:42] SkyzohKey opened #17 "Copying entire friend ID via custom_packets."
A user should be able to copy friends ToxID. To achieve this I think it would be nice to use the `custom_packets` "method" provided by ToxCore.

**Example:**
- **Alice** right click **Bob** FriendListRow and click on "Ask for ToxID" ;
- **Alice** client send a `friend_request_toxid` packet to **Bob** ;
- **Bob** is asked for sending his entire ToxID (not only the pubkey) ;
  - If **Bob** answer by

[2015-10-18 13:54] benwaffle commented on #17
why do you need the other friend's ToxID

[2015-10-18 13:56] SkyzohKey commented on #17
It's sometimes useful to have friend ID, for example when you want to add it on another client/computer. Or if a friend demands you the ToxID of another friend ^^

[2015-10-18 13:59] benwaffle opened #18 "Set callbacks in glade"

[2015-10-18 14:25] benwaffle opened #19 "Make it work on GTK 3.14"
remove usages of

[code]

[2015-10-18 15:21] benwaffle opened #20 "Quit properly"
Try running utox + qtox, and quitting one. The fact that the user is offline is shown instantly. We must be doing something wrong.

[2015-10-18 16:21] ProMcTagonist commented on #17
I believe @subliun is doing something similar for Antox, you should use the same method and be compatible.

[2015-10-18 18:25] SkyzohKey commented on #17
ah, nice! @subliun could you talk here about what you did, in order to make Ricin compatible, and maybe adding this in the Tacos/Tox-STS :3

[2015-10-18 21:06] Doom032 commented on #17
Great idea. Came here from Tox group chat. As a regular Tox user who's been trying to get his friends to use it for a year now(with limited success), I say every Tox client should have this feature. If it can be, it'd be nice if this would be supported in toxcore. One of the most annoying things right now is adding friends of friends. You have to either keep a database of friend IDs like I do, or

[2015-10-18 21:48] FoundOne commented on #17
I'd like to have such feature. I hate when I have to add every friend's id manually on my phone.

[2015-10-19 00:21] aaannndddyyy commented on #13
An additional layer providing additional security is not a bad idea, however, I don't know if PGP is the right choice for a chat application.
Why not go with OTR?
OTR is save even over insecure channels, so if tox proves insecure, you'd still be secure, just as with PGP, but you would still have perfect forward secrecy and deniable authentication

[2015-10-19 15:09] SkyzohKey commented on #13
Does OTR provide user authentication like PGP does?

[2015-10-20 06:32] aaannndddyyy commented on #13
Yes

[2015-10-21 09:34] #9 closed, assigned to nobody

[2015-10-21 15:10] benwaffle opened #21 "Make errors.vala"
It will hold all the `errordomain`s and conversion functions from toxcore
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27584123-make-errors-vala?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conten

[2015-10-21 16:00] SkyzohKey commented on #21
Didn't you found it in the history ?

[2015-10-21 22:18] benwaffle commented on #17
https://github.com/subliun/Antox/issues/134

[2015-10-22 02:12] benwaffle opened #22 "Use GNotification"
https://wiki.gnome.org/HowDoI/GNotification

We will use this when we have a .desktop file (probably when we switch to meson)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27598967-use-gnotification?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:/

[2015-10-24 17:51] benwaffle opened #23 "Move GtkMenu to xml"

[2015-10-24 18:03] SkyzohKey commented on #13
@aaannndddyyy nice, so it could be PGP and/or OTR :)

[2015-10-24 18:06] benwaffle commented on #20
The Tox wrapper is not being destroyed.

[2015-10-24 18:28] gmscs opened #24 "File transfers to offline contacts"
It should not be possible to send files to offline contacts. The button is not greyed out and the text "Sending file **\* " still shows up.

[2015-10-24 18:35] #24 closed, assigned to nobody

[2015-10-24 21:54] SkyzohKey commented on #18
Doesn't work. The thing you pushed makes the UI not reactive, you can click 20x on Login it will happens nothing. :/

[2015-10-24 21:54] aaannndddyyy commented on #13
yes, you could have two plugins, or one that provides both. but OTR should be the priority of the two, in case you have to decide.
User authentication with OTR is such that you can be sure that the messages are coming from the perso you think they come from, but at the same time your contact can be sure that you cannot prove to a thir party that he/she said what he/she said. That's called deniable

[2015-10-24 22:59] benwaffle commented on #18
you need to run `make cleandebug` once
meson doesn't recompile gresources when you change them (https://github.com/mesonbuild/meson/issues/298)

[2015-10-24 22:59] #18 closed, assigned to benwaffle

[2015-10-25 02:55] SkyzohKey opened #25 "Ricin doesn't send `is_typing` notifications."

[2015-10-25 07:01] gmscs opened #26 "Greentexting links"
When greentexting and putting a link (url) in the message, the message fails to send and this error is returned:

[code]

When greentexting links we should favour the link's format, so in ">https://github.com/" making the ">" green but the "https://github.com/" still blue and underlined.

[2015-11-01 07:46] benwaffle opened #27 "Clean up main window constructor"
it's too messy, just split it up into a few separate functions
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27867408-clean-up-main-window-constructor?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_c

[2015-11-01 09:09] benwaffle opened #28 "Wrapper should handle avatar caching"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27867586-wrapper-should-handle-avatar-caching?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=gith

[2015-11-02 01:40] SkyzohKey commented on #28
:+1:

[2015-11-02 01:41] SkyzohKey opened #29 "Wrapper should be coded in separated files."
I was thinking about restructuring the whole wrapper, currently it's all in one file. Maybe should we have a folder/repo `wrapper` that would handle the Tox API (friends, files, avatars, messages, audio, video, groups, dns, etc)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27881311-wrapper-should-be-coded-in-separated-files?utm_cam

[2015-11-02 02:13] benwaffle commented on #29
when we add audio, video, groupchats

[2015-11-07 06:30] SkyzohKey commented on #17
@subliun any news about what you did for Antox ?

[2015-11-20 16:07] SkyzohKey opened #30 "Markdown support."
Ricin should provide a way to use (basic) Markdown to format messages. This is not really hard to do but the real issue is for client compatibility. I guess this shouldn't be a major issue since markdown was reflexed to be readable, even in plaintext.

(Pseudo-) Markdown "balises" we could provide:
- [x] `**bold** text` : Permit to **bold** a message's part.
- [x] `_italic_ text` : Permit to _ital

[2015-11-20 17:04] SkyzohKey commented on #30
Ricin now supports **bolded**, _italicized_, <ins>underlined</ins> and ~~striked~~ messages.
See the [wip/chatform](https://github.com/RicinApp/Ricin/tree/wip/chatform)@[2e7d6a0](https://github.com/RicinApp/Ricin/commit/2e7d6a0895aa75200a3bd63f19999cf0fcc404d1) commit for more infos.

[2015-11-21 11:51] rugk commented on #30
It should also support `naming [links](https://en.wikipedia.org/wiki/Hyperlink)`.

[2015-11-22 14:58] SkyzohKey commented on #30
[**@rugk**](https://github.com/rugk) commented on [21 Nov 2015, 12:51 GMT+1](https://github.com/RicinApp/Ricin/issues/30#issuecomment-158632764):

Hmm, I guess this is a bad idea cuz it would permit people to "spoof" links. What if someone send you a link like: `[https://www.youtube.com/watch?v=dQw4w9WgXcQ](http://iplogger.com/id)` ?

[2015-11-22 18:13] gmscs commented on #30
hovering over the named link should give the link itself

[2015-11-23 11:52] SkyzohKey opened #31 "Integrated voice transformer & video "pixeler"."
In order to improve privacy of the users it would be a nice idea (from my opinion) to have an integrated voice transformer and a video "pixeler" in Ricin. These 2 tools could be native or plugins and should be configurable. Transforming the user voice would improve a lot it's privacy.

What i call video "pixeler" is the ability to detect faces and "pixel-blur" them (using OpenCV ?). This would be

[2015-11-23 11:57] SkyzohKey commented on #30
@gmscs Hmm, maybe i should add this so.

[2015-12-10 00:33] benwaffle commented on #31
GStreamer makes it easy to add filters to the pipeline

[2015-12-10 15:39] Renha opened #32 "Is Ricin abandoned?"
Hello Key, i cannot log in into groupchat (not Ricin fault, at any client), and I came here, and see last commit was 20 days ago. Why? (and don't you have an idea why i couldn't log in?)

And I wanna try Ricin on Windows, but i can't find built version. Does it exists?

[2015-12-10 16:08] benwaffle commented on #32
- Ricin isn't abandoned, just inactive for now
- Ricin doesn't support groupchats yet
- Ricin aims to be a Linux client. It might work on Windows but we don't test it and Windows is not our first priority.

[2015-12-25 13:09] SkyzohKey commented on #32
Hey @Renha. I'm currently busy in my personal life so I can't work on Rockin yet. When I'll got time my first commit will be to add new group chats and profiles encryptions.. When these two features would be available I'll work on Windows/OSX

[2015-12-29 20:53] Ogromny opened #33 "Where are you ?"
Hello,
Sky where are you :( ?

[2016-01-02 12:33] SkyzohKey commented on #33
I'm currently fucking busy in my personal life, so I'm away from the net for an undefined time. For more information please contact me using Tox. :)

[2016-01-02 17:08] Ogromny commented on #33
Ok thanks ;)

[2016-01-02 17:08] #33 closed, assigned to nobody

[2016-01-14 23:18] gmscs commented on #11
Isn't offline contacts not being shown related to this?

(MainWindow.vala - lines 146 - 157)

doesn't this mean that we're only giving them a position if they have already connected (come online) at some point? Should be changed to giving contacts a position as soon as they're loaded from the file rather than giving them a position only when they've connected.

[2016-01-14 23:21] #32 closed, assigned to nobody

[2016-01-16 14:47] SkyzohKey commented on #11
Yep, but I don't know how to get contacts from the .tox file. :x

[2016-01-16 19:20] gmscs commented on #26
fixed on the wip/chatform branch, waiting on branch merge to close issue.

[2016-01-16 19:53] gmscs commented on #11
https://github.com/irungentoo/toxcore/blob/master/toxcore/tox.h#L1151
thanks to BlameAliens from the irc

[2016-01-27 12:34] SkyzohKey commented on #31
They also have some ideas on the qTox issues tracker → https://github.com/tux3/qTox/issues/2197

[2016-02-02 03:29] benwaffle opened #35 "can't save files with spaces"
this is from chatform merge
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30435326-can-t-save-files-with-spaces?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=is

[2016-02-02 08:17] #26 closed, assigned to nobody

[2016-02-02 15:05] benwaffle commented on #14
It doesn't do anything

[2016-02-02 21:05] SkyzohKey opened #36 "Status is not synced with .tox status at launching"

[2016-02-02 21:41] #36 closed, assigned to SkyzohKey

[2016-02-02 22:21] gmscs opened #37 "Add User Editor View"
The user should have a view where they are able to edit the information to their profile. In this view we should have:
- [x] Encrypt/Decrypt profile
- [x] Name edit
- [x] Status message edit
- [x] Set avatar
- [ ] Qr code (for sharing with mobile devices)
- [ ] Import/Export profile
- [ ] Remove avatar
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountyso

[2016-02-02 22:26] SkyzohKey opened #38 "Ricin could remind user to delete users not seen from X time"
**PoC:**
![Concept](http://i.imgur.com/MAK8e6A.png)

It could be nice if Ricin **could** remind the user that a friend is **not came back online** during more than _X time_, and to **ask if the user want to delete this friend**.

Of course, this **should** be an <ins>opt-in/opt-out</ins> option (opt-in by default) that could be configurable (time before reminder).

This can be easily accomplished

[2016-02-02 22:29] SkyzohKey commented on #37
I marked it as **priority top**, since we have to focus on this list. :)

[2016-02-03 02:36] SkyzohKey commented on #11
Since this is fixed, I close the issue. Fixed in wip/sidebar.

[2016-02-03 02:41] SkyzohKey commented on #12
Fixed by [809e887](https://github.com/RicinApp/Ricin/commit/809e88733977101406c1cf2cd1baa691e1e23e2a). Closed.

[2016-02-03 02:41] #12 closed, assigned to nobody

[2016-02-03 08:15] gmscs commented on #11
The issue is fixed on wip/sidebar. We should close issues when they are merged into the master branch **only**. This is an issue that should have been merged into master. When an issue is fixed on another branch please just add a comment to the issue saying that it is fixed and will be closed when the branch is merged.
The fix isn't complete either; missing:
- [x] Name should show, not toxID
- [x]

[2016-02-03 14:00] SkyzohKey commented on #11
I tried to make username and status message showing when user is offline, but it seems to be a toxcore issue. :x

[2016-02-04 14:37] SkyzohKey opened #39 "[bug] Unexpected markup."
![](http://i.imgur.com/sM0ctwJ.png)

[2016-02-05 16:32] benwaffle opened #41 "Add tooltips to buttons"

[2016-02-05 17:33] SkyzohKey commented on #41
:+1:

[2016-02-06 12:45] gmscs opened #42 "TO-DO before merging wip/clean"
- [ ] Fix ToxID not appearing on the settings-view
- [ ] Fix settings-view combo-boxes not being populated
- [ ] Fix theme being broken for several system themes (settings on Numix; text on Raleigh; tab-text on most themes...)
- [ ] Fix name/status text selection (top-left) with theme
- [ ] Make System Themes & System Icons an option
- [ ] Be able to select more that one message in the chat view.

[2016-02-06 17:48] benwaffle commented on #42
What is in that branch?

[2016-02-06 21:10] gmscs commented on #42
This branch contains the **theme updates** (black); the **sidepane updates**; and several important **bugfixes.**

[2016-02-06 23:30] SkyzohKey commented on #42
I'm working on a **white** version of the theme. :)
![](http://i.imgur.com/uxeDl6y.png)

[2016-02-07 14:22] SkyzohKey commented on #42
This issue is now closed, I opened a PR to continue working on efficiently. https://github.com/RicinApp/Ricin/pull/43

[2016-02-07 14:22] #42 closed, assigned to nobody

[2016-02-07 14:57] SkyzohKey opened #44 "Travis always fail."
This is the error to fix in order to have Travis working:

[code]

Possible cause: https://github.com/RicinApp/Ricin/issues/19

[2016-02-09 13:46] SkyzohKey opened #45 "How to handle settings efficiently?"
So, it would be nice to have a way to get/set settings in Ricin, I think using a database would be over-head for this. I searched a way to do it properly and had an idea that was also proposed at https://github.com/irungentoo/toxcore/issues/1487.
### Problem to solve:

An user should be able to switch to another computer only by saving it's profile file and then download Ricin and import this prof

[2016-02-09 22:37] anoadragon453 opened #46 "Set up text in LICENSE"
[LICENSE #L623](https://github.com/RicinApp/Ricin/blob/e1ff7016bb91722bbc5112a7573e48564015c9fc/LICENSE#L623)

[2016-02-09 22:47] #46 closed, assigned to nobody

[2016-02-10 15:58] dunielpls commented on #45
Perhaps SQLite and/or some JSON/YAML file. I see no reason to do it using `.txz` over, for example, just using a `.tox` file (or something else) like µTox/qTox and others do.

[2016-02-11 09:33] gmscs opened #47 "GTK+3.16 issues"
- [x] Unpopulated ComboBoxText's
- [x] No text in ToxID label
- [x] No "About" tab

Have a few Gtk-CRITICAL messages:

[code]

[2016-02-11 22:41] gmscs commented on #47
fixed

[2016-02-11 22:41] #47 closed, assigned to SkyzohKey

[2016-02-11 23:56] SkyzohKey opened #48 "Code and folders structure improvements."
I think we should rewrite most of Ricin's code to follow these simple rules.
## Code files cleaning

A class constructor method **must suit** the following **conventions**:

[code]
## Directory structure

We should categorize files in the `src/` folder. This would permit to have a more organized code, being more modulable.

**See the example:**

[code]
## <bountysource-plugin>

Want to back this i

[2016-02-12 08:39] SkyzohKey opened #49 "Being able to select more than one message in the chatview."
**Note for myself:** This can be accomplished by creating a new Widget and using Pango for text rendering. The hard part with Pango is to make the text selectionnable without issues. Or maybe it should be possible to extend a GtkLabel to do the job. Or even a GtkTextView (iirc the name)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2016-02-12 09:12] #23 closed, assigned to benwaffle

[2016-02-12 09:13] SkyzohKey commented on #11
Since this is fixed, the issue can be closed. :)

[2016-02-12 09:13] #11 closed, assigned to SkyzohKey

[2016-02-12 09:21] SkyzohKey opened #50 "Issue when deleting friend."
![](http://i.imgur.com/7Mf6ZEg.png)

[2016-02-12 09:24] SkyzohKey commented on #50
Names are now showing, but a weird issue appears, again...
![](http://i.imgur.com/96dMqHe.png)

[2016-02-12 09:40] #50 closed, assigned to SkyzohKey

[2016-02-14 13:50] #39 closed, assigned to SkyzohKey

[2016-02-19 19:52] SkyzohKey commented on #41
Tooltips have been added in 64fd207

[2016-02-19 19:52] #41 closed, assigned to nobody

[2016-02-20 10:48] SkyzohKey opened #51 "2 Factor Auth ?"
Hey guys, wouldn't it be cool/nice to have a way to enable 2-FA on Ricin? I think it would permit to add an extra layer of security to the app.

**The question is the following:**
How to do 2-FA on an already encrypted profile, since the key is generated for ~30 seconds (using **Authy**, Google Auth, any **FIDO U2F** compatible app or even via **YubiKeys**) ? The cool fact with 2-FA is that you **

[2016-02-20 18:05] SkyzohKey opened #52 "Issue with file containing spaces in name."
[code]

**File name that caused the crash**: _Capture d'écran 2016-02-20 à 18.57.59.png_
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31058531-issue-with-file-containing-spaces-in-name?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2016-02-22 02:29] SkyzohKey opened #53 "Giant ProfileChooser."
ProfileChooser size isn't fixed. It should be.

[2016-02-28 22:40] #53 closed, assigned to SkyzohKey

[2016-02-28 22:42] #19 closed, assigned to nobody

[2016-03-02 03:03] #25 closed, assigned to SkyzohKey

[2016-03-02 04:22] SilverRainZ opened #55 "if there is no ~/.config/tox directory, ricin can not start up"
`** (ricin:2949): CRITICAL **: file /home/la/aur/ricin-git/src/Ricin/src/Ricin.vala: line 19: uncaught error: Error opening file '/home/la/.config/tox/ricin.cfg': No such file or directory (g-io-error-quark, 1)`

I think it would be better to create a `tox` directory when it is no exist.

btw: I have made a package for ricin, Arch Linux user can install ricin from https://aur.archlinux.org/package

[2016-03-02 04:59] SkyzohKey commented on #55
Ah, thanks for reporting the issue. I'll fix this ;)
Also, thanks for the package, note that we have a .desktop file and an icon now →
- [Icon](https://github.com/RicinApp/Ricin/blob/master/res/images/icons/Ricin-128x128.png)
- [.desktop file](https://github.com/RicinApp/Ricin/blob/master/misc/ricin.desktop)

[2016-03-02 05:02] SilverRainZ opened #56 "Releases are missing submodules."

[2016-03-02 05:03] SilverRainZ commented on #55
ok, I will update it.

[2016-03-02 05:04] #55 closed, assigned to SkyzohKey

[2016-03-02 05:06] SkyzohKey commented on #56
Hmm. The release archive was created by github, so it's a bug with GitHub :x

[2016-03-02 05:51] SkyzohKey commented on #55
could you add the `instant messaging` keywords plz ? :)

[2016-03-02 06:01] SilverRainZ commented on #55
IM means Instant messaging, isn't it?

[2016-03-02 06:08] SkyzohKey commented on #55
Yeah, but `instant messaging` keyword seems to show only real IM, not libs/apps that contains the word IM ^^. It's a little SEO optimisation for people looking for it on Google/DuckDuckGo :p

[2016-03-02 06:15] SilverRainZ commented on #55
added, keywords split by space so I use `instant-messaging
but in AUR, when you search for 'instant messaging' keywords, you get few thing。

[2016-03-02 06:16] SkyzohKey commented on #55
Yeah, that's the goal ;).
I added your package on the Readme.md file ;)

[2016-03-02 06:17] SilverRainZ commented on #55
btw, is valac a runtime dependenic of ricin?
I think it should be a build dependenic because i can run ricin without it.

and just use `yaourt -S ricin-git` that you can install ricin in Arch Linux. (yaourt is a AUR helper)

[2016-03-02 06:24] SkyzohKey commented on #55
Yep, valac is the Vala compiler ;).
I'll add this line, isn't pacman doing the same as yaourt ?

[2016-03-02 06:31] SilverRainZ commented on #55
no.

pacman only install package from offical software repo (or install a local package).

yaourt is a frontend of pacman, it fetch build script of unoffical software repo (we call it AUR) and auto build a package from build script, then call pacman to install this package.

[2016-03-02 06:36] SkyzohKey commented on #55
Ah! Ok seems nice, i'll add `yaourt -S ricin-git` to the readme ;)

[2016-03-02 11:25] SkyzohKey commented on #45
Ricin uses Libconfig since #54 get merged, this issue can be closed, so.

[2016-03-02 11:26] SkyzohKey commented on #30
This can be closed since this comment seems to be the one that will be approved → https://github.com/Tox/Tox-Client-Standard/pull/25#issuecomment-189645287

[2016-03-02 11:26] #30 closed, assigned to SkyzohKey

[2016-03-02 11:31] SkyzohKey opened #57 "feat(settings): every profile should have it's own .json settings file"

[2016-03-02 14:43] benwaffle commented on #48
GTK automatically connects widgets to private fields and signals to methods if you use `[GtkTemplate]`

[2016-03-03 13:21] SkyzohKey commented on #56
Link for reference: http://stackoverflow.com/questions/34719785/how-to-add-submodule-files-to-a-github-release

[2016-03-03 13:22] #56 closed, assigned to SkyzohKey

[2016-03-03 13:26] SkyzohKey commented on #48
Their is not only GTK signals to handle (ie. tox signals connecting). Also the `init_widgets ();` method would be used to set default values for labels, setting a switch on/off based on the value in the config file, etc... We already use GtkTemplate , so.

[2016-03-05 10:51] Ogromny opened #58 "Legacy icon tray needs improvements."
- [x] Clicking the legacy icon tray should toggle Ricin's main windows visibility.
- [x] Icons needs to be updated.

[2016-03-05 16:40] benwaffle commented on #58
FYI GNOME calls it the legacy icon tray

[2016-03-09 11:51] Ogromny opened #59 "Default window size is too small"
Hi,
When we start Ricin the default window size is just too small
![Image](https://i.imgur.com/VuO5fBF.png)

[2016-03-09 12:16] SkyzohKey opened #60 "Avatars are not saved if the avatar/ dir doesn't exists."

[2016-03-09 12:24] SkyzohKey opened #61 "Avatars are buggy."
Sometimes avatars are not saved.
**Note to myself**: investigate this.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31709439-avatars-are-buggy?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2016-03-10 14:44] SkyzohKey opened #63 "Add profiles encryption/decryption"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31751738-add-profiles-encryption-decryption?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github

[2016-03-10 15:41] Ogromny commented on #48
@benwaffle fuck men, you code like a piece of shit...

[2016-03-10 16:29] #60 closed, assigned to SkyzohKey

[2016-03-10 16:51] #16 closed, assigned to SkyzohKey

[2016-03-10 19:15] #58 closed, assigned to SkyzohKey

[2016-03-10 20:21] benwaffle commented on #58
https://elementary.io/docs/human-interface-guidelines#does-your-app-need-an-indicator

Ricin doesn't need an indicator. It should probably integrate with the messaging menu that is present on some DEs

[2016-03-11 05:16] SkyzohKey opened #64 "Add an emoticon selection box"
This is a **sample** mockup that's coded (.ui + popover code done) :
![Mockup](http://i.imgur.com/a5IStBp.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31778924-add-an-emoticon-selection-box?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2016-03-11 12:24] Ogromny commented on #64
Oh it's amazing ! Love it :)

[2016-03-17 03:53] SkyzohKey commented on #49
I opened the [feature/chatview-rewrite branch](https://github.com/RicinApp/Ricin/tree/feature/chatview-rewrite) for that purpose.

[2016-03-17 16:08] benwaffle commented on #49
Don't use pango, use GtkTextView

You can look at [polari](htttps://github.com/gnome/polari), it uses GtkTextView do display the irc messages

[2016-03-17 18:04] SkyzohKey commented on #49
Yep, that's what is planned ;). I still don't know how to make "columns" (Name | Message | Timestamp) with GtkTextView but i would like to have something like that.

[2016-03-18 02:15] SkyzohKey commented on #49
@benwaffle Do u know how to accomplish this type of "layout" inside a GtkTextView ?

[2016-03-18 02:36] benwaffle commented on #49
[check how polari does it](https://github.com/gnome/polari/blob/master/src%2FchatView.js)

[2016-03-19 09:13] SkyzohKey opened #66 "Setup a buildbot at https://build.ricin.im"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32049392-setup-a-buildbot-at-https-build-ricin-im?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=

[2016-03-19 15:12] #59 closed, assigned to SkyzohKey

[2016-03-19 20:08] benwaffle commented on #66
why not build.tox.chat

[2016-03-20 08:07] ovalseven8 opened #68 "Can't load the profile - unable to bind to a port"
## Summary
- **Operating System:** Manjaro Linux
- **Ricin's version:** https://github.com/RicinApp/Ricin/commit/a05c0ca54c35224b132f81997d49b56d0824dd97
- **Reproducible:** Always
## Steps to reproduce:
1. Install Ricin

[code]
1. Start Ricin
2. Try to create a new profile
3. Error:

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2016-03-20 17:24] ovalseven8 opened #69 "Building Ricin doesn't work"
## Summary
- **Operating System:** Manjaro Linux
- **Ricin's version:** https://github.com/RicinApp/Ricin/commit/a5480df646f86a26763b38368ea6b0757b9ac646
- **Reproducible:** Always
## Steps to reproduce:
1.  `git clone --recursive https://github.com/RicinApp/Ricin.git && cd Ricin`
2.  `make autogen`

Result:

[code]

[2016-03-20 17:53] benwaffle commented on #69
Don't use the makefile

[code]

[2016-03-20 17:56] ovalseven8 commented on #69
Your suggestion doesn't work too - same error.

[2016-03-20 18:14] SkyzohKey commented on #69
@benwaffle The makefile `autogen` rule basicaly do the "bootstrap" thing (create the build dir and launch `meson . build`).
@ovalseven8 This seems to be a meson issue, maybe report it [here](https://github.com/mesonbuild/meson/issues) ;)

[2016-03-20 18:52] ovalseven8 opened #70 "'make debug' fails"
## Summary
- **Operating System:** Manjaro Linux
- **Ricin's version:** Ricin 0.0.3 beta
- **Reproducible:** Always
## Steps to reproduce:
1.  Download Ricin 0.0.3 beta
2. `meson . build`
3.  `make debug`:

[code]

[2016-03-20 18:56] ovalseven8 commented on #69
@SkyzohKey: Well, the error doesn't appear if I try it with `Ricin 0.0.3 beta`.

[2016-03-20 18:59] SkyzohKey commented on #70
That's a GitHub issue (GitHub doesn't auto-include submodules in releases .zip).
Fix: just cd into Ricin-0.0.3 directory and do the following:

[code]

[2016-03-20 18:59] #70 closed, assigned to nobody

[2016-03-20 19:04] ovalseven8 commented on #70
@SkyzohKey:

[code]

[2016-03-20 19:06] SkyzohKey commented on #70
It seem you doesn't have `gdb` ^^

[2016-03-20 19:09] ovalseven8 commented on #70
@SkyzohKey: Oh, you're right. Forgot it. :/

`gdb` should be added to the dependencies.

[2016-03-20 19:30] SkyzohKey commented on #69
@ovalseven8 https://github.com/mesonbuild/meson/issues/467#issuecomment-198994836 ;)

[2016-03-20 19:30] #69 closed, assigned to nobody

[2016-03-20 19:47] ovalseven8 commented on #69
@SkyzohKey: Works now, was a bug in meson.

[2016-03-21 02:16] benwaffle opened #71 "Adwaita has no help-info-symbolic icon"
This is the icon on the button which shows markdown info

[2016-03-21 17:29] dcharles525 opened #73 "Trying to run latest binary from ricin.im"
When trying to run the binary, I keep getting this error:

./Ricin: error while loading shared libraries: libconfig.so.9: cannot open shared object file: No such file or directory

Any idea why? Running Elementary OS, latest.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32108781-trying-to-run-latest-binary-from-ricin-im?utm_campaig

[2016-03-21 17:36] gmscs commented on #73
Have you installed libconfig9?
`sudo apt-get install libconfig9`

[2016-03-21 17:39] dcharles525 commented on #73
Whoops, ok I installed that, but now I am getting this error:

[code]

[2016-03-21 17:44] SkyzohKey commented on #73
@dcharles525 Looks like the binary is missing resources, I'll investigate. :)

[2016-03-21 18:40] benwaffle commented on #73
don't use the binary from the website, compile it from source

[2016-03-21 18:48] SkyzohKey commented on #73
@benwaffle The binary from the website is generated with [this script](https://github.com/RicinApp/Ricin/blob/wip/bubbles/tools/build_linux_package.sh). It have to work ;)

[2016-03-21 19:00] benwaffle commented on #73
We don't have any c++ code, why do you have -static-libstdc++

[2016-03-21 20:49] SkyzohKey commented on #73
Took the sample from meson repository, forgot to remove it :/

[2016-03-22 22:26] katamari1992 opened #74 "Ricin won't build"
## Summary

Linux Mint 17.3
newest
- **Hardware:** _…_

Always
## Steps to reproduce:
1.  build
2.  I've been trying to compile ricin on linux mint 17.3
   I believe I've got all the deps (unsure how to check for all the deps all at once)
   I keep getting an error when trying to build Any help would be appreciated
   edit: I check for all the deps and they all seem to be there

rm -rf ./build
mkd

[2016-03-22 22:49] benwaffle commented on #74
You need to update `meson`

[2016-03-22 22:59] katamari1992 commented on #74
as far as aptitude or apt-get is concerned it is up to date however I will try building from source

[2016-03-22 23:01] benwaffle commented on #74
I have meson 0.30 on my system. Try installing from pip

[2016-03-22 23:06] katamari1992 commented on #74
PROGRESS! yay! ty now onto the next issue
edit error 127 meson not in PATH
dunno how to fix that googling now
edit edit: nvm it completelly failed to install

rm -rf ./build
mkdir -p ./build
meson . ./build
make: meson: Command not found
make: **\* [autogen] Error 127

edit edit edit:
   File "/usr/local/lib/python2.7/dist-packages/mesonbuild/mlog.py", line 73
        print(_arr, file=log_file, *_

[2016-03-22 23:20] benwaffle commented on #74
This looks like an error in python or meson. Please file a bug at https://github.com/mesonbuild/meson/issues

[2016-03-22 23:25] katamari1992 commented on #74
Ty for your help

[2016-03-23 01:19] SkyzohKey commented on #74
@katamari1992 Meson needs to be installed from Python3, u're using Python2.7. ;)

[2016-03-23 01:19] #74 closed, assigned to nobody

[2016-03-23 01:24] #71 closed, assigned to SkyzohKey

[2016-03-23 01:33] katamari1992 commented on #74
ok I have/had python3 but I also have python 2.7 as reported by synaptic
Can I force the build tools to use python3?
I uninstalled 2.7 and I get the same error

[2016-03-23 01:45] SkyzohKey commented on #74
just install it from sources:

[code]

or using `pip3`

[code]

[2016-03-23 02:53] katamari1992 commented on #74
I installed using your method but I'm still getting this error

rm -rf ./build
mkdir -p ./build
meson . ./build
make: meson: Command not found
make: **\* [autogen] Error 127

[2016-03-23 02:58] SkyzohKey commented on #74
Hmm, weird. Did u used `pip3` or sources ?

[2016-03-23 03:01] katamari1992 commented on #74
I used the three lines you provided above to install meson
I am attempting to install ricin via sources
(dependancies are questionable but I seem to have all of them)
take note that I am using linux mint 17.3 which is based on ubuntu's trusty which is outdated
edit: meson appears to not have installed ... irratating sources!

[2016-03-23 03:05] SkyzohKey commented on #74
Dependencies are all listed on the [README.md file](../README.md). Could u please try to install meson using `pip3 install meson` ?

[2016-03-23 03:06] katamari1992 commented on #74
katamari@Moya ~ $ sudo pip3 install meson
Requirement already satisfied (use --upgrade to upgrade): meson in /usr/local/lib/python3.4/dist-packages
Cleaning up...

katamari@Moya ~ $ sudo dpkg --list | grep meson
katamari@Moya ~ $

http://paste2.org/L03b32gJ
I have like 3 of the dependancies met the others are installed but outdated I'll report back tomorrow Ima go get high on nyquil

[2016-03-23 03:11] SkyzohKey commented on #74
Yeah, nice, now try this in the Ricin directory

[code]

[2016-03-23 03:11] katamari1992 commented on #74
katamari@Moya ~/Downloads/Ricin-master $ make autogen
rm -rf ./build
mkdir -p ./build
meson . ./build
make: meson: Command not found
make: **\* [autogen] Error 127
katamari@Moya ~/Downloads/Ricin-master $ make install
cd build/ && type ninja-build 2>/dev/null && ninja-build install || ninja install
ninja-build: not found
ninja: error: loading 'build.ninja': No such file or directory
make: **\* [in

[2016-03-23 03:12] SkyzohKey commented on #74
Hmm, what the hell...
Let's try something (maybe stupid but we'll see if that works):

[code]

[2016-03-23 03:13] katamari1992 commented on #74
http://paste2.org/L5bEEAGJ

[2016-03-23 03:14] SkyzohKey commented on #74
Ok right, maybe could I provide u support over [Gitter](https://gitter.im/RicinApp/Ricin) ?

[2016-03-23 22:39] optimumtact commented on #66
@benwaffle the distros we chose to use for the jenkins are not easily able to build the ricin app thanks to missing packages and other dependency issues.

[2016-03-23 23:05] SkyzohKey commented on #66
@benwaffle @optimumtact + Infrastructure costs needs to be put down :p

[2016-03-27 04:53] benwaffle opened #75 "Identicons"
https://gist.github.com/benwaffle/35ad7d6c49a6336ea1a8

[2016-03-29 01:17] Codecombay opened #76 "Problem install Elementary OS"
Hello,

Impossible install Ricin in Elementary OS.

`sudo apt-get install libglib2.0-0 libglib2.0-dev libjson-glib-1.0-0 libjson-glib-dev libsoup-gnome2.4-dev libnotify-dev`

After

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32345433-problem-install-elementary-os?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_mediu

[2016-03-29 14:41] SkyzohKey commented on #76
Je suppose que tu es Français vu ton anglais. Le problème ici est que tu n'as pas installé meson. Essaye la chose suivante :

I guess you're french, seeing your english. The problem here is that you didn't installed meson.
Try the following:

[code]

[2016-03-29 14:51] #75 closed, assigned to nobody

[2016-03-29 16:24] Codecombay commented on #76
J'ai fais l'installation de tous.
J'ai encore la même erreur.
"man meson" marche correctement, alors que meson --version ne marche pas...

[2016-03-29 16:58] SkyzohKey commented on #76
OK. Que se passe-t-il quand tu fais un `/usr/bin/meson --version` ?

[2016-03-29 17:22] Codecombay commented on #76
`zsh: aucun fichier ou dossier de ce type: /usr/bin/meson`

[2016-03-29 19:01] SkyzohKey commented on #76
Un coup de `locate meson` histoire de voir ?

[2016-03-29 21:12] Codecombay commented on #76
locate meson
/home/xana/Documents/tmp/truc/Ricin/meson.build
/home/xana/Documents/tmp/truc/Ricin/po/meson.build
/home/xana/Documents/tmp/truc/Ricin/res/meson.build
/home/xana/Documents/tmp/truc/Ricin/src/meson.build
/usr/src/linux-headers-3.19.0-39/arch/arm/mach-meson
/usr/src/linux-headers-3.19.0-39/arch/arm/include/debug/meson.S
/usr/src/linux-headers-3.19.0-39/arch/arm/mach-meson/Kconfig
/usr/s

[2016-03-30 00:53] SkyzohKey commented on #76
ok, donc meson n'est pas installé sur ton système. Essaie de compiler à partir des sources dans ce cas:

[code]

[2016-03-30 15:55] Codecombay commented on #76
Même erreur :(

[2016-03-31 09:15] Sorunome opened #78 "Wrap lines at words"
wrapping the line in the middle of a word can make it kind of heard to read, so I'd suggest wrapping them at words/spaces instead.

[2016-03-31 10:06] SkyzohKey commented on #78
Should be fixed now, just pushed a fix. :)

[2016-03-31 10:07] #78 closed, assigned to SkyzohKey

[2016-03-31 10:10] SkyzohKey commented on #76
La compilation de meson se passe comment du coup ? Des erreurs ?
Sinon, il faudra ouvrir une issue sur le [bug-tracker de MesonBuild](https://github.com/mesonbuild/meson/issues). :/

[2016-03-31 10:12] SkyzohKey commented on #73
Bump.
@dcharles525 What GTK+ version are you running?

[2016-03-31 17:03] Sorunome opened #79 "Autoscroll not working"
## Summary
- **Operating System:** Archlinux
- **Ricin's version:** 0.0.3-beta
- **Reproducible:** Almost Always
## Steps to reproduce:
1.  fill the box so that you need to scroll
2. have the other chat partner say something
3. say something yourself and it won't autoscroll
   Sometimes it will also not autoscroll when the other person writes something
## <bountysource-plugin>

Want to back this i

[2016-03-31 17:40] Sorunome opened #80 "URL parsing"
when you parse a link like https://ricin.im/ it will first parse the italics and then url or something so that it'll actually open `https://<i>ricin.im</i>` in the browser
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32453756-url-parsing?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We ac

[2016-03-31 19:45] Derpolino opened #81 "Windows"
I'm still waiting the Windows version, uTox continues to be shit and keeps reseting my profile. I'd really like to use Ricin on Windows.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32457874-windows?utm_campaign=plugin&utm_content=tracker%2F24002221&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:

[2016-04-01 01:19] SkyzohKey commented on #80
Hi, thanks for the bug report! This is a known issue caused by the way Ricin handles Markdown (shitty regexes). I'll need to write a proper Markdown parser in order to have things working perfectly.

[2016-04-01 05:19] SilverRainZ opened #82 "fail to build git version"
## Summary
- Arch Linux
- ricin-git
- meson 0.30.0

fail to execute `make autogen`:

[code]

Can you compile it correctly?
## Additional infos:

BTW: the meson upsteam has changed its script name from `/usr/bin/meson` to `/usr/bin/meson.py`
see mesonbuild/meson#394

[2016-04-01 15:49] Sorunome commented on #82
I had the same thing so i manually modified `/usr/lib/python3.5/site-packages/mesonbuild/modules/rpm.py` to look like this http://pastebin.com/wSebf1L0

I forgot to check if there were any meson updates, so yeah, it might have been useless :P

[2016-04-01 21:20] SkyzohKey commented on #82
@LastAvenger Hmm, that's a weird issue that seems to be related to your python3 version. Anyway feel free to open the `Makefile` and change `/usr/bin/meson` to `/usr/bin/meson.py`. I should probably do some tests to execute the correct path to meson, in order to avoid these weird issues. I'll investigate.

Anyway did @Sorunome solved your issue ?

[2016-04-01 21:25] SkyzohKey commented on #81
Their is still an issue with glib-gresources, I guess i'll switch from the Meson Build System to WAF/Autotools in order to have it compiling well on Windoesn't too. :)

[2016-04-02 03:17] #44 closed, assigned to nobody

[2016-04-02 12:35] Sorunome commented on #79
Maybe this has to do with the typing notification as not always when the notification appears the text area slides up but sometimes it slides down when it diss-appears and other weired stuff.

[2016-04-02 14:04] SkyzohKey commented on #79
Yep. I'll work on this today. This is really borring I admit :/

[2016-04-03 19:05] Sorunome opened #91 "crashing on file transfer"
When recieving the second file in a row from somebody without restarting ricin it crashes (busy wait, forces me to `killall -9 ricin` ).
It happens always, might have to do with the filename of the files being the same (utox-inline)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32549250-crashing-on-file-transfer?utm_campaign=plugin&

[2016-04-03 23:54] dcharles525 commented on #73
@SkyzohKey sorry for the slow response.

Version: 2.24.23-0ubuntu1.4

[2016-04-04 00:38] SkyzohKey commented on #73
Ok so that's absolutly normal since you need at least GTK+3.18 to have Ricin running. x)

[2016-04-04 05:24] benwaffle commented on #73
That is GTK2, what version of GTK3 do you have?

[2016-04-04 11:14] SilverRainZ commented on #82
hmm, my python version is 3.5.1, and I still failed to build it.
issues/
@Sorunome I don't want to modified meson's code, because I am maintaining the package of ricin,
I shouldn't let ricin requires a patched meson.

any way to avoid this issue? mesonbuild/meson#498

[2016-04-04 11:28] Sorunome commented on #82
I am actually thinking it's a bug in meson as they do `from ..modules import gnome` and then later on `isinstance(target, modules.gnome.GirTarget)` instead of `isinstance(target, gnome.GirTarget)`

[2016-04-04 15:43] SkyzohKey commented on #82
@LastAvenger @Sorunome Bug have been fixed, just compile from the latest trunk from meson ;)

[2016-04-04 15:54] #82 closed, assigned to SkyzohKey

[2016-04-05 14:30] Sorunome opened #92 "Option to disable markdown and smileys"
Maybe add an option to disable the markdown and smiley parsing?

[2016-04-05 15:50] SkyzohKey commented on #92
This is planed, but I first need to rewrite the way ChatView acts. Currently it's a simple ListBox with custom ListBoxRow's. I plan rewriting it using TextView or Pango. ;)

[2016-04-05 19:21] Sorunome opened #93 "Textbox losing focus"
Your textbox switches focus to another person whenever they start typing (typing notification) or they send you something, this will get annoying if you write a longer line while multiple people keep send you stuff so the text you end up writing is spread throughout many input bars for many different people.

[2016-04-05 19:42] SkyzohKey commented on #93
Alright, thanks for the report I'll fix this as soon as I get back home ;)

[2016-04-06 01:16] #93 closed, assigned to SkyzohKey

[2016-04-06 01:20] SkyzohKey commented on #91
This is a known issue. Also a duplicate of #35. I'll close the old one.

[2016-04-06 01:20] SkyzohKey commented on #35
This issue is replaced by #91.

[2016-04-06 01:20] #35 closed, assigned to nobody

[2016-04-06 12:08] Ogromny opened #94 "Impossible de lancer Ricin"
Depuis la dernière MAJ je ne peux plus lancer Ricin :(

[code]

Je précise que je suis sous gnome 3.19 wayland

[2016-04-07 00:57] SkyzohKey commented on #94
Hi !
Simply delete `~/.config/tox/ricin.cfg` then relaunch Ricin. That's a libconfig issue, I really need to rewrite the SettingsManager...

**Edit**: I just added a rule in the Makefile to do this automatically, simply use `make reset-settings`

J'viens de sortir de garde à vue, donc bon :x

[2016-04-07 00:58] #94 closed, assigned to nobody

[2016-04-08 09:31] Sorunome opened #95 "Messages appear as "label""
## Summary
- **Operating System + version:**  Archlinux
- **Ricin's version:**  ricin-git 0.540.62bb688-1
- **Ricin's commit hash:**  ricin-git 0.540.62bb688-1
- **Reproducible:** Randomly
## Observed Behavior:

Sometimes when sending a message or when recieving one it is being displayed as "label", internally the messages still send find / are recieved fine, so it's probably just the displaying p

[2016-04-08 14:20] SkyzohKey commented on #95
Yeah, this is related to Markdown parsing (again u-u). `label` is the placeholder written in the `.ui` file for the ChatView. When Markdown fails, it returns blank and label isn't updated. I'll fix this, lemme investigate. Thanks for the report ;)

[2016-04-08 14:28] #95 closed, assigned to SkyzohKey

[2016-04-08 14:51] Sorunome opened #96 "Fails to build"
Ricin fails to build on Archlinux using the AUR package with the following output: http://pastebin.com/hGipabMZ

[2016-04-08 15:04] #96 closed, assigned to SkyzohKey

[2016-04-09 00:38] #76 closed, assigned to nobody

[2016-04-09 00:38] #73 closed, assigned to SkyzohKey

[2016-04-09 00:39] SkyzohKey commented on #66
Outdated since travis is now working fine.

[2016-04-09 00:39] #66 closed, assigned to SkyzohKey

[2016-04-09 00:41] SkyzohKey commented on #68
Ricin do not deals with network so I assume this a ToxCore issue, closed.

[2016-04-09 00:42] SkyzohKey commented on #91
Duplicate of #52, closing.

[2016-04-09 00:43] SkyzohKey commented on #38
Outdated and useless, closing.

[2016-04-09 00:43] #38 closed, assigned to nobody

[2016-04-09 00:44] #22 closed, assigned to nobody

[2016-04-09 13:18] Ogromny opened #97 "Sent file size is badly calculated"
When sending a file, the size is divided by 1000.
https://i.imgur.com/yYDJNRT.png

[2016-04-09 13:23] Ogromny opened #98 "Sidepane toggle is broken"
Normal:
http://i.imgur.com/AVbDMsR.png
After clicked on friend info:
http://i.imgur.com/uI3eikj.png

[2016-04-10 04:56] SilverRainZ commented on #56
I am happy to see that the submodule `tox-vapi` became to `vapi` folder,  it makes package more easier, but it seem that the newest release 0.0.4 still haves this submodule.

if there is a release which has remove git submodule, plz @ me, I can package a release package
immediately.

p.s: if you do some changes that maybe break package (such as: change the way of complile, add new dependiences), I

[2016-04-10 14:00] SkyzohKey commented on #56
@LastAvenger I just made a release that doesn't needs submodules → https://github.com/RicinApp/Ricin/releases/tag/v0.0.4.1

[2016-04-10 16:00] SilverRainZ commented on #56
ok, Arch Linux user can install ricin's lastest release by using `yaourt -S ricin`

https://aur.archlinux.org/packages/ricin/

[2016-04-10 16:04] SkyzohKey commented on #56
Thanks for maintaining the package!
Anyway it seems your `PKGBUILD` file doesn't run `ninja install` that would surely introduce regressions (no .desktop, no translations, no icons) ^^

[2016-04-11 05:00] SkyzohKey opened #100 "Libconfig is doing shit with strings sometimes."
![](http://i.imgur.com/HSnhwnI.png)

[2016-04-11 07:26] SilverRainZ commented on #56
@SkyzohKey `ninjia install` is runned by `make install`, doesn't it?

here is a list that file will be installed in system:

[code]

[2016-04-11 08:09] SkyzohKey commented on #56
Yep, that's right :)

[2016-04-11 08:35] SkyzohKey commented on #81
I'm currently working hard on making a first .exe version for Windoesn't.: )

[2016-04-11 09:48] SkyzohKey commented on #100
**Note for myself:** Issue opened on the Libconfig repository https://github.com/hyperrealm/libconfig/issues/63

[2016-04-11 15:19] #100 closed, assigned to SkyzohKey

[2016-04-12 20:33] SkyzohKey commented on #56
@LastAvenger Ricin 0.0.6 doesn't needs libconfig anymore, you can remove it from the ricin pkg :p

[2016-04-12 22:00] SkyzohKey commented on #20
@benwaffle This should be fixed with the pull-request #103

[2016-04-12 22:06] codedust commented on #17
Wouldn't it be nice to have some kind of contact sharing? This could be relatively trivially implemented by displaying a suggestion to make a friend request when someone sends you a Tox ID. Additionally, we could implement a "share contact" button that would automatically ask for another contacts Tox ID (as suggested above) and paste it into the current conversation.

[2016-04-12 22:08] SkyzohKey commented on #17
@codedust Yep, should be doable i guess. Can you open an issue for this suggestion please ? x)

[2016-04-12 22:10] #20 closed, assigned to SkyzohKey

[2016-04-12 22:16] codedust opened #104 "Contact sharing"
Client-side ontact sharing could be relatively easily implemented by displaying a suggestion to make a friend request when someone sends you a Tox ID. Additionally, we could implement a "share contact" button that would automatically ask for another contacts Tox ID (as suggested in #17) and paste it into the current conversation.

[2016-04-12 22:17] codedust commented on #17
Done ;)

[2016-04-12 22:18] SkyzohKey commented on #104
I vote **up** for this, however I still not figure out how we could make this to be as user-friendly as possible x)

[2016-04-13 01:17] SilverRainZ commented on #56
updated. :-)

[2016-04-13 23:09] tr37ion commented on #68
I have the same issue with Arch and the git version for weeks. This is my terminal output:
`
*\* (ricin:15053): WARNING **: MainWindow.vala:97: Tox init failed: The function was unable to bind to a port.

*\* (ricin:15053): CRITICAL **: tox_wrapper_tox_save_data: assertion 'self != NULL' failed

*\* (ricin:15053): CRITICAL **: tox_wrapper_tox_disconnect: assertion 'self != NULL' failed
`

[2016-04-14 06:02] SkyzohKey commented on #68
@tr37ion I asked @irungentoo about this and IIRC he told me that this was an error message that appears when you have too many Tox clients opened at the same time. Is it your case?

Here's the issue "documentation":
![ERR_NEW_PORT_ALLOC](http://i.imgur.com/mt47McF.png)

[2016-04-14 08:33] SkyzohKey commented on #80
@Sorunome The issue have been fixed with 0.0.5 (new settings pr) I guess, feel free to reopen if you think the bug is still here. ;)

[2016-04-14 18:16] Sorunome commented on #91
It's not really a duplicate as the files in question don't contain a space in their name....

[2016-04-15 22:17] Sorunome commented on #80
bug is still there, happens if you have http:// &lt;url&gt; /

So if there is a trailing slash after the URL but no additional path

[2016-04-16 00:16] SkyzohKey commented on #80
Ah! Shiiiiiiiiiiiiit. I reopen then x)

[2016-04-23 08:54] dolohow opened #110 "Deb package"
Please provide deb packages.

Thank you.

[2016-04-23 15:10] SkyzohKey commented on #110
Hi.
I'll probably setup a Debian VM and provides a deb package, but currently I have many bugs to fix ^^

[2016-04-23 15:13] dolohow commented on #110
I understand, bugs are more important! But think you for your promising answer.

[2016-04-23 15:15] SkyzohKey commented on #110
Anyway, if you know how to make .deb packages, feel free to make a .sh script, I would be pleased to add it to our Travis YAML in order to have up-to-date .deb's ;)

[2016-04-23 15:23] SkyzohKey commented on #98
That seems to be related to how Ricin handle quotes. The bug only appears when their is a quote in the chat, else it works fine.

[2016-04-23 15:47] dolohow commented on #110
I will see what I can do.

[2016-04-23 19:28] Sorunome opened #112 "Style"
## Summary
- Archlinux
- 0.0.6.1
- 5372543
- gtk3 3.20.3-1
- **Reproducible:** Always

The style of ricin is quite off (obvious red box spoiler is obvious): https://img.ourl.ca/34.png

When making https://github.com/RicinApp/Ricin/blob/master/res/themes/reset.css look like http://pastebin.com/7P4Dw8eV it will fix most issues, not all, buttons are a bit too dark and the switch-boxes in "Interface"

[2016-04-26 16:03] tr37ion commented on #68
No, there is no other tox client running at the same time? Or do you mean, too many clients installed in general?

[2016-04-27 06:25] SkyzohKey commented on #68
@tr37ion If I understand the error message correctly, this would means the following things: All the ports Tox tries to use are already used by others Tox clients, or by others apps. Can you reproduce the issue with uTox/qTox ?

[2016-04-27 21:53] #68 closed, assigned to SkyzohKey

[2016-04-30 12:07] #61 closed, assigned to SkyzohKey

[2016-04-30 23:34] SkyzohKey commented on #110
@dolohow Did u succeed ? :p

[2016-05-03 04:17] #91 closed, assigned to SkyzohKey

[2016-05-03 09:46] #79 closed, assigned to SkyzohKey

[2016-05-03 09:46] SkyzohKey commented on #80
That's fixed. :)

[2016-05-03 09:46] #80 closed, assigned to SkyzohKey

[2016-05-03 13:04] Sorunome opened #116 "Building fails"
Using Archlinux

[code]

[2016-05-03 16:35] SkyzohKey commented on #116
Yep, that's a normal error, you have an old meson version. That's caused by this commit: [meson.build](https://github.com/RicinApp/Ricin/blob/99d67a4aa18a7fe8283b6ae2a2e2702b9e58e506/meson.build) that requires a min version to use with Meson, in order to fix installation path issues ;)

@jpakkane, the creator of Meson told me this yesterday:

[2016-05-03 17:54] Sorunome commented on #116
yay it's working now, thanks!

[2016-05-03 17:54] #116 closed, assigned to SkyzohKey

[2016-05-09 03:34] quorth0n opened #120 "sudo make install fails on Mint 17.2"
[code]

This is with the latest Ricin. I tried to set it up this morning and have been trying to get it to work ever since. If more information is needed please let me know. I believe this is an issue specific to me...

[2016-05-09 13:25] SkyzohKey commented on #120
Reading the backtrace I saw that : `Use gio-2.0 >= 2.44`. You'd probably need to update you gio version package. Thanks for reporting this, i'll add versions check to the `wscript` file ;)

[2016-05-10 19:06] #51 closed, assigned to nobody

[2016-05-10 19:07] #13 closed, assigned to nobody

[2016-05-10 19:07] #52 closed, assigned to SkyzohKey

[2016-05-10 21:08] aaannndddyyy commented on #13
So this will not come?

[2016-05-10 22:21] SkyzohKey commented on #13
Not for now, i'll reopen when the plugin system is ready ;)

[2016-05-11 04:10] quorth0n commented on #120
Alright, once I figure out how to update gio-2.0 I'll report back

(Nice profile pic btw)

[2016-05-18 05:13] eternal-sorrow opened #122 "Gentoo ebuild"
I've already wrote to tox-overlay (Tox/gentoo-overlay-tox#5), but no one answered me there. Could you please influence people there?

[2016-05-21 22:45] yurivict opened #123 "Ricin dies with "Operation not supported" message"
I tried to make a FreeBSD port, but Ricin dies:

[code]

System calls before the error message:

[code]
## Summary
- **Operating System + version:**  FreeBSD 10.3
- **Ricin's version:**  0.1.0
- **GTK+ version:**  3.18.8
- **ToxCore version:**  0.151112
- **Reproducible:** Always

[2016-05-21 23:16] SkyzohKey commented on #123
Yeah that's a known issue caused by Ricin not being able to copy default settings file at the first launch iirc, try to run it as sudo first time you launch it. I'll fix that soon ;)

[2016-05-22 06:18] #123 closed, assigned to SkyzohKey

[2016-05-22 10:23] probonopd opened #124 "Ricin.c: line 304: uncaught error: Operation not supported (g-io-error-quark, 15)"
I am trying to build an [AppImage](http://appimage.org/) from the Travis CI build products.
## Summary
- **Operating System + version:**  Ubuntu 16.04 LTS 64-bit
- **Ricin's version:**  https://transfer.sh/m1TE4/ricin-git6530aa9-glibc-x86-64.appimage
- **Ricin's commit hash:**  6530aa9 from https://github.com/probonopd/Ricin
- **GTK+ version:**  3.0.0
- **ToxCore version:** git
- **Hardware:**  x8

[2016-05-22 10:42] SkyzohKey commented on #124
Yeah, I just fixed this bug in the commit 1ee19a3e393b4963112c3a41c01d9bfee97f510a.
Anyway, I saw that you were doing it (travis irc notification héhé) and I would like to thanks you for this cool job !

Just saw a little bug with the .appimage I tried from the build on your travis: (Gtk) icons are missing. :/

[2016-05-22 11:48] Encrypt commented on #110
Deb packages are on their way @dolohow!
I have recently created a BASH script to build Tox clients and among others, Ricin.
It is published here: https://github.com/Encrypt/toxdeb

@SkyzohKey tested a build yesterday that I ran and it seems to work.
You'll soon be able to get Ricin as a .deb! ;)

[2016-05-22 13:20] #124 closed, assigned to nobody

[2016-05-22 13:22] SkyzohKey commented on #120
Assuming you fixed the issue by updating `glib-2.0` to version `>= 2.44`. Thus closing. Feel free to reopen if updating `glib` version doesn't fix the issue.

[2016-05-22 13:22] #120 closed, assigned to nobody

[2016-05-22 18:23] afreakk opened #125 "Font size"
Hi, is there any way of changing font size in ricin ?

[2016-05-22 18:39] SkyzohKey commented on #125
Currently not, but yeah, I'll add this to my todo list. :)

[2016-05-23 22:21] #63 closed, assigned to SkyzohKey

[2016-05-24 06:39] probonopd opened #127 "AppImage doesn't work on elementary OS 0.3.2 (based on Ubuntu 14.04)"
As mentioned [here](https://github.com/RicinApp/Ricin/pull/126#issuecomment-221140942):

This is because the Ricin AppImage needs a newer version of Gtk stuff than what is in Ubuntu 14.04.

Would it be possible to compile Ricin on trusty without the need for `ppa:rebuntu16/glade-3.19+-trusty`? Then it would not require so new Gtk libraries and the resulting AppImage would run on more systems.

Alt

[2016-05-24 07:15] probonopd commented on #127
Try this build:
https://transfer.sh/ft1mM/ricin-git4c971f7-glibc-x86-64.appimage
Here I included the additional libraries. Download size is not too bad.
Runs for me on Ubuntu 14.04, didn't try on others so far.

Updated script is [here](https://github.com/probonopd/Ricin/blob/master/appimage.sh).

[2016-05-24 11:40] GranPC commented on #127
It works! Thank you :)

[2016-05-24 13:56] SkyzohKey commented on #127
This ppa is needed cuz Ricin needs `Gtk+ >= 3.16.4`, else it'll fail compiling (cuz `Gtk < 3.16` doesn't had Popovers and ListStore :anguished:)

But anyway, if this update doesn't introduce regressions, could you open a new pull-request for this update? :)

**edit**: People on openSuSe Tumbleweed reported me this:

[code]

[2016-05-24 14:26] #28 closed, assigned to nobody

[2016-05-24 17:10] probonopd commented on #127
For FUSE, please see https://github.com/probonopd/AppImageKit/wiki/FUSE

openSUSE users can set up FUSE with

[code]

If you don't want to install FUSE, you can either mount or extract the AppImage. To mount the AppImage and run the application, simply run

[code]

[2016-05-24 17:35] dolohow commented on #110
I am glad to hear that, unfortunately I did not have time to do it myself which is a shame.  If you could further provide ppa for Ubuntu that would be even better.

Thank you.

[2016-05-24 23:43] SkyzohKey opened #129 "feat(file resume): allow Ricin to resume a file transfers even after restarts."

[2016-05-25 00:05] abueide opened #130 "Double click to change name/status"
Also should be canceled when it loses focus.

[2016-05-25 00:15] SkyzohKey commented on #130
Can you please provides more informations?

[2016-05-25 00:25] abueide commented on #130
@SkyzohKey I'm talking about these http://pix.toile-libre.org/upload/original/1464135910.png

[2016-05-25 00:27] SkyzohKey commented on #130
Ah, that's already the case but yeah I need to fix the selection color. Currently the selected text have the same color as the background, so that's confusing. I'll add this on the Todo list. Thanks for the report. :)

[2016-05-25 00:36] abueide opened #131 "Add friend button doesn't work, and button disappears."
## Summary
- **Operating System + version:** Arch Linux
- **Ricin Version Info:**

[code]
## Steps to reproduce:
1.  Click add friend
## Observed Behavior:

Add friend button doesn't work, and disappears, also settings button works as intended.
## Expected Behavior:

Button works.
## Additional infos:

http://pix.toile-libre.org/upload/original/1464136495.png

[2016-05-25 00:38] abueide commented on #130
@SkyzohKey I meant instead of clicking once to trigger the edit, to instead require double clicking to trigger the edit to prevent misclicks. Also it should cancel the change and go back to normal if it loses focus by selecting somewhere else. It does cancel when I click on a button that performs an action, but not when i click in blank space which it should.

[2016-05-25 00:42] SkyzohKey commented on #130
Ah, yes you're right. I'll probably do this part of the massive refactoring ;)

[2016-05-25 11:49] Ogromny opened #132 "Cannot connect to Tox network"
Quand j'ouvre Ricin, je séléctionne mon profil, je click je peut attendre 30min, je n'arrive pas à me connecter au réseau l'icone status reste rouge

[2016-05-25 11:53] Ogromny commented on #132
EDIT: Ça m'a soulé j'ai supprimer le dossier tox, et je me suis crée un nouveau toxid.

[2016-05-25 13:38] SkyzohKey commented on #132
T'as essayé de vérifier ton pare-feu avant de tout supprimer bouffon? x)

[2016-05-25 13:57] Ogromny commented on #132
Ouais mdr, ça marche pas. Donc je me suis refait un compte .tox, mais je peux pas add d'amis le bug du bouton x)

[2016-05-25 14:04] SkyzohKey commented on #132
Envoies ton ToxID x)

[2016-05-25 14:06] Ogromny commented on #132
3400948AF5608E97D62C1C43D339B984EF9CB66834AE64DF68564A3DCAE2631731CC5B6B9313

[2016-05-25 14:11] #132 closed, assigned to nobody

[2016-05-26 02:28] #127 closed, assigned to nobody

[2016-05-26 22:43] SkyzohKey opened #133 "feat(usage stats): add one-time stats report sending"
Stats are something we need in order to target distributions, architectures, versions, etc that needs improvement in packaging, dependencies, etc.

It also permits to have an overall idea of how many times Ricin got installed. Here are some ideas discussed in `#tox-dev` to find the **best** but also the **securest** way to do this.
- Ask the user if he wants to send anonymous statistics via a secu

[2016-05-26 23:18] abueide commented on #133
Maybe make a file in the github project that contains statistics as well

[2016-05-30 01:45] SkyzohKey commented on #45
Reopened and updated the issue.

[2016-05-30 11:44] mkody commented on #45
I like the idea of an archive. And :+1: for json, it's nice to keep things "human-friendly".

Does that mean that the `example.txz` is constantly updated or only when we click an export button or exit the client?
Using dropbox/owncloud for syncing could be interesting with this, but if I start running two instances of Ricin (because I'm booting my laptop for example) this could make some conflicts

[2016-06-01 12:29] DX37 opened #134 "Compiling needs 'intltool' as a dependency"
## Summary
- **Operating System + version:** latest ArchLinux
- **Reproducible:** Always
## Steps to reproduce:

_Please provide detailed steps in order for us to reproduce the issue_
1. Start to build ricin-git from AUR.
2. It won't build because requeir 'intltool' package.
## Observed Behavior:

It's not compiles.

PKGBUILD on AUR is fixed already, but INSTALL.md still needs to be fixed for miss

[2016-06-01 14:16] #134 closed, assigned to SkyzohKey

[2016-06-02 18:58] PhelanBavaria opened #135 "symbol lookup error: ./lib/libgtk-3.so.0: undefined symbol: g_list_model_get_type"
I'm on the newest Debien Jessie with the newest installation of tox and Ricin.

Installation as instructed on this github page (below Download)

On the last step (./ricin-0.1.1.app) I get an error:
/tmp/.mount_E462Ym/usr/bin/ricin.wrapper
zenity, kdialog, Xdialog missing. Skipping ./bin//ricin.wrapper.
/tmp/.mount_E462Ym/usr/bin/ricin: symbol lookup error: ./lib/libgtk-3.so.0: undefined symbol: g_

[2016-06-03 00:37] SkyzohKey commented on #135
@probonopd Hmm ?
@PhelanBavaria I would ask you to report me the result of `./ricin-0.1.1.app --version` please

[2016-06-04 15:30] PhelanBavaria commented on #135
That is what I get.

[2016-06-04 15:34] SkyzohKey commented on #135
@PhelanBavaria Ok, it seems that your GTK+3 version is lower than 3.16.4 :x

[2016-06-04 16:42] PhelanBavaria commented on #135
I see, isn't it supposed to work with Debian out of the box?

[2016-06-04 22:12] SkyzohKey commented on #135
It is. :x
@probonopd cant we have a min gtk3 version in appimages ?

[2016-06-05 07:26] probonopd commented on #135
@SkyzohKey we could bundle GTK+3 inside the AppImage. Then it would run on older systems too, but the AppImage would become larger. Is that what you want? Alternatively, we could do a small zenity script informing the user that GTK+3 >= 3.16.4 is required if it is not there.

[2016-06-05 16:02] SkyzohKey commented on #135
@probonopd Seems to be the best solution x)

[2016-06-08 16:07] #131 closed, assigned to SkyzohKey

[2016-06-19 10:54] aaannndddyyy commented on #135
./ricin-0.1.1.app
/tmp/.mount_YUObbY/usr/bin/ricin.wrapper
zenity, kdialog, Xdialog missing. Skipping ./bin//ricin.wrapper.
/tmp/.mount_YUObbY/usr/bin/ricin: symbol lookup error: ./lib/libatk-1.0.so.0: undefined symbol: g_type_check_instance_is_fundamentally_a

./ricin-0.1.1.app --version
/tmp/.mount_q66s9V/usr/bin/ricin.wrapper
zenity, kdialog, Xdialog missing. Skipping ./bin//ricin.wrapper.
/tmp

[2016-06-19 14:39] probonopd commented on #135
@aaannndddyyy which base system (distribution and version) are you running this on?

[2016-06-19 14:44] aaannndddyyy commented on #135
@probonopd I'm on Trisquel Mini gnu/linux, version 7, based on ubuntu.
LXDE
I followed the instructions, i.e. did wget, chmod and ./ricin-0.1.1.app

[2016-06-19 16:12] probonopd commented on #135
@aaannndddyyy it's based on Ubuntu 14.04 LTS so I would assume your GTK+ version is lower than 3.16.4 which is the minimum requirement for Ricin according to @SkyzohKey

[2016-07-01 17:09] eternal-sorrow commented on #122
any news?

[2016-07-01 21:48] SkyzohKey commented on #122
I dont work anymore on the master branch since I started to rewrite Ricin from scratch in the develop branch ^^

[2016-07-02 21:05] #135 closed, assigned to nobody

[2016-07-10 10:09] kxxvii opened #140 "Build issue: valac-0.8 not found. Xubuntu 16.0.4. LTS."
## Summary
- **Operating System + version**: Xubuntu 16.04 LTS
- **Ricin's version**: 0.2.3
- **Ricin's commit hash**: 4df2a28a587744ebe2a68e23ee0f313ed6d3db8b
- **GTK+ version**: 3.0
- **ToxCore version**: 0.1.3758.532629d-1
- **Hardware**: --
- **Reproducible**: Always
## Steps to reproduce:

_Please provide detailed steps in order for us to reproduce the issue_
1.  downloaded the source code
2.

[2016-07-10 18:16] SkyzohKey commented on #140
You need to install `valac-0.30` in order to have ricin to compile, then do the following :

[code]

[2016-07-10 21:16] kxxvii commented on #140
I had valac-0.30 installed at the time I opened the issue. The same thing happened with a previous release as well. Tried it again after I double-checked that the dependencies where satisfied and the error still occur.

[2016-07-12 16:34] SilverRainZ opened #141 "Group chat support"
It seems that ricin still no supports temp group. Do you plan to implement it?

[2016-07-13 18:04] SkyzohKey commented on #141
Yep i'm working on current groupchats, they should be ready in 1 or 2 weeks ;)

[2016-07-20 22:41] Encrypt commented on #140
Ricin is now built on build.tox.chat for Ubuntu Xenial. You should be able to apt-get it if you wish!

To download ricin for Ubuntu Xenial, run:

[code]

Note that contrary to what is written on the tox.chat website, ricin can only be obtained using `deb https://pkg.tox.chat/debian stable xenial` for the moment, as aforementioned.
Once @SkyzohKey fixes his develop branch, nightly packages of ricin

[2016-07-20 22:49] Encrypt commented on #110
"Soon" has now arrived @dolohow!
Ricin is now packaged for Ubuntu Wily & Xenial / Debian Strech & Sid.

If your distribution is listed above, run the following commands:

[code]

Sorry for the delay!

[2016-07-21 12:37] kxxvii commented on #140
@Encrypt : Thanks for the tip. That works for me although I was able to use Ricin by using the Appimage mentioned in the README.

However, building it by using the aforementioned steps still isn't possible for me. Tried again just for the sake of it. If this is important or not I'll let the developer and other tox-client developers decide. Therefore I won't close the issue.

[2016-07-21 12:44] Encrypt commented on #140
@kxxvii : Ricin is currently built in the Xenial chroot with the package `valac` and not `valac-0.30` / `valac-0.8`.
Could you try installing that package and building Ricin again?

Also, regarding the AppImage, although it works this way I'd recommend using the pkg.tox.chat repository instead! ;)

[2016-07-21 19:13] kxxvii commented on #140
@Encrypt  That's the package I've used and from what I gather it installs valac-0.30. It's described here http://packages.ubuntu.com/xenial/amd64/valac/filelist

[2016-07-21 20:07] Encrypt commented on #140
Well... that's weird I have to say.
Do you have an idea why @SkyzohKey ?

[2016-07-22 15:13] kb2623 opened #142 "Can't add a friend"
## Summary
- **Operating System + version:** Manjaro 16.06
- **Ricin's version:**  it should be 0.2.1 but it says that is 0.1.0
- **GTK+ version:**  3.20
- **ToxCore version:**  toxcore-3747-1
- **Reproducible:** Always
## Steps to reproduce:
1.  Press on button for adding friends
2.  Button for adding friends and button for settings disappear
3.  Nothing shows up
## Observed Behavior:

Button for

[2016-07-23 17:02] inmylo commented on #142
Same problem on ArchLinux x64, with Gnome and latest updates (23.07.2016), installed from AUR. Buttons "Add a friend" and "Settings" just disappear. When started from terminal no error messages appear.

Ricin 0.2.1-1-x86_64

[2016-07-24 08:20] dolohow commented on #110
It works!  The only issue I have is that Ricin got no icon.

[2016-07-24 10:35] Encrypt commented on #110
Indeed, it looks like the icons of Ricin are not installed in the .deb package.
Thanks for reporting @dolohow !

@SkyzohKey : Could you see if you can fix that?
I'm sure this bug comes from your waf configuration.

[2016-07-25 21:35] #110 closed, assigned to nobody

[2016-07-26 20:04] Esption commented on #142
Same here on Gentoo, perhaps a GTK+3.20 issue?  I'm getting it with both the latest git and Ricin v0.2.3.  When pushing the settings button I get

And when I push the add a friend button it just closes that little tab w/o a message.  Also when it boots up the (non-theme deprecation) errors that it prints out are

[2016-07-27 13:14] #49 closed, assigned to SkyzohKey

[2016-07-29 13:07] IngvarX commented on #17
You can implement it using plugins like I did in my client (https://github.com/ingvar1995/toxygen_plugins/tree/master/CopyableToxId)

[2016-08-14 03:48] eternal-sorrow opened #143 "Contact online notification pops all the time"
## Summary
- **Operating System + version:**  gentoo
- **Ricin's version:**  0.2.3
- **Ricin's commit hash:** f79a115c9640995559caf0b20796ce0f716b1f45
- **GTK+ version:**  3.20.6-r1
- **ToxCore version:**  latest from git irungentoo/toxcore@755f084e8720b349026c85afbad58954cb7ff1d4
- **Hardware:**  x86_64
- **Reproducible:** Almost Always
## Steps to reproduce:
1.  start ricin
2.  login under profi

[2016-08-18 02:22] SkyzohKey commented on #143
Ok, the notification issue should be gone now. Thanks for the report.
You may have to `git pull` and recompile Ricin  from the latest master.

### New in the latest commits:
- Fix for the notifications issue (I plan to add a settings tabs for handling Notifications)
- Some new features like:
  - Pasting an image to send it ;
  - The ability to localy remove a message from the chatview ;
  - The ab

[2016-09-06 10:03] quininer commented on #141
any news?

[2016-09-07 13:28] SkyzohKey commented on #141
I didn't make any progress on groupchats as I still don't know if the new one will ever come or not. :x

[2016-09-23 15:17] SkyzohKey commented on #140
This issue has been inactive for several months now, thus closing.

[2016-09-23 15:17] #140 closed, assigned to SkyzohKey

[2016-09-23 15:17] SkyzohKey commented on #122
This issue has been inactive for several months now, thus closing.

[2016-09-23 15:17] #122 closed, assigned to nobody

[2016-09-23 15:18] SkyzohKey commented on #81
This issue has been inactive for several months now, thus closing.
Note that you now can download a preview of Ricin running on windows at https://ricin.im :)

[2016-09-23 15:18] #81 closed, assigned to nobody

[2016-09-23 15:20] SkyzohKey commented on #48
This issue has been inactive for several months now, thus closing.
Note that I'm working on the `rewrite-clean` branch in order to achieve the result wanted by this issue.

[2016-09-23 15:20] #48 closed, assigned to SkyzohKey

[2016-09-23 15:22] SkyzohKey commented on #37
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

[2016-09-23 15:22] #37 closed, assigned to nobody

[2016-09-23 15:22] SkyzohKey commented on #21
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

[2016-09-23 15:22] #21 closed, assigned to nobody

[2016-09-23 15:23] SkyzohKey commented on #14
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note that I removed ToxMe fields in a previous commit because they are not secure and centralized and by so, they are dangerous.

[2016-09-23 15:23] #14 closed, assigned to nobody

[2016-09-23 15:23] SkyzohKey commented on #29
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: That's currently done in the `rewrite-clean` branch.

[2016-09-23 15:23] #29 closed, assigned to nobody

[2016-09-23 15:25] SkyzohKey commented on #45
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

[2016-09-23 15:25] #45 closed, assigned to nobody

[2016-09-23 15:26] SkyzohKey commented on #27
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: I'm completly rewriting Ricin, so this issue will be fixed in the `rewrite-clean` branch.

[2016-09-23 15:26] #27 closed, assigned to benwaffle

[2016-09-23 15:27] SkyzohKey commented on #97
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: I'm completly rewriting Ricin, so this issue will be fixed in the `rewrite-clean` branch.

[2016-09-23 15:27] #97 closed, assigned to SkyzohKey

[2016-09-23 15:27] SkyzohKey commented on #98
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: I'm completly rewriting Ricin, so this issue will be fixed in the `rewrite-clean` branch.

[2016-09-23 15:27] #98 closed, assigned to SkyzohKey

[2016-09-23 15:27] SkyzohKey commented on #112
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: I'm completly rewriting Ricin, so this issue will be fixed in the `rewrite-clean` branch.

[2016-09-23 15:27] #112 closed, assigned to nobody

[2016-09-23 15:27] SkyzohKey commented on #130
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: I'm completly rewriting Ricin, so this issue will be fixed in the `rewrite-clean` branch.

[2016-09-23 15:27] #130 closed, assigned to SkyzohKey

[2016-09-23 15:28] SkyzohKey commented on #142
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: I'm completly rewriting Ricin, so this issue will be fixed in the `rewrite-clean` branch.

[2016-09-23 15:28] #142 closed, assigned to SkyzohKey

[2016-09-23 15:28] SkyzohKey commented on #143
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: I'm completly rewriting Ricin, so this issue will be fixed in the `rewrite-clean` branch.

[2016-09-23 15:28] #143 closed, assigned to SkyzohKey

[2016-09-23 15:30] SkyzohKey commented on #64
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

[2016-09-23 15:30] #64 closed, assigned to SkyzohKey

[2016-09-23 15:30] SkyzohKey commented on #57
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

[2016-09-23 15:30] #57 closed, assigned to SkyzohKey

[2016-09-23 15:31] SkyzohKey commented on #141
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

Note: Groupchats are planed in the complete rewrite I started in the `rewrite-clean` branch. I decided i'll implement current groupchats and use custom Tox packets to perform missing stuffs. New groups won't ever been merged i guess, so that's t

[2016-09-23 15:31] #141 closed, assigned to SkyzohKey

[2016-09-26 12:34] SkyzohKey commented on #129
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

[2016-09-26 12:34] #129 closed, assigned to nobody

[2016-09-26 12:35] SkyzohKey commented on #125
This issue has been inactive for several months now, thus closing.
In the future, feel free to create a new issue instead of keeping posting to this one.

**Note**: I added this suggestion to my todo list and i'll probably write this in the `rewrite-clean` branch once I'll do the GUI.

[2016-09-26 12:35] #125 closed, assigned to nobody

[2016-10-11 21:28] Ygarr opened #144 "Add smiles"
Need add smiles.

Those smiles sub-functionality that already is -  not working. Can not add them to the message field and send.

The good (not worst anyway) example is qtox project smiles:
https://github.com/qTox/qTox/tree/master/smileys

[2016-10-12 11:41] SkyzohKey commented on #144
Ricin `master` branch development is currently stopped as I'm working on rewriting it from scratch, with clean code on the `rewrite-clean` branch. But anyway I already planed to implement emojis packs ;)

[2016-10-13 14:51] AyoungDukie opened #146 "Windows (7): Ricin does not import control Assets (ie window controls)"
Most of the basic interface images fail to load within the app, per the screenshot below:

![image](https://cloud.githubusercontent.com/assets/5449443/19353899/d9fb0754-9132-11e6-8cdf-b5a6a8896718.png)

The brightside is that the tool-tips do load when you hover over them!

The cmd prompt has these readouts when loading (it appears to be flooded with failed loading of GTK assets?).

![image](https

[2016-10-13 15:07] AyoungDukie opened #147 "Windows (7): Ricin crashes when attempting to change Avatar"
Clicking the Change Avatar button causes an immediate crash, filling the cmd prompt with the message below and popping up the alert shown:

![image](https://cloud.githubusercontent.com/assets/5449443/19354501/e7ffcf5e-9134-11e6-8215-94991b3a0773.png)

Potentially seems to be related to #146  and GTK asset retrieval (GLib not imported?)

Thanks for all of your hard work!

[2016-10-13 17:00] AyoungDukie opened #148 "Windows (7) Feature Request: Import Profiles from install or "profiles" directory"
The Linux version of Ricin (at least the AppImage version) will pull/import *.tox profile files from the installed directory. Currently in Windows, it appears to only import/load files from the user's ".../Appdata/Local/tox" folder, which would be somewhat similar to needing to put data in the "/opt/... " folders in Linux. It works, however it can be fairly unintuitive for new users. Is there a wa

[2016-10-13 17:52] SkyzohKey commented on #146
Hey!
Ricin `master` branch is currently deprecated as I'm working on rewriting Ricin from scratch, with clean codebase. Development now takes place on the `rewrite-clean` branch.

Contributions to the master branch are likely to be ignored and instead you should consider using another Tox client _(uTox, qTox, Toxygen, ...)_ that may fit your needs until Ricin v2 is ready to _dominate the world!_

[2016-10-13 17:52] #146 closed, assigned to nobody

[2016-10-13 17:53] SkyzohKey commented on #147
Hey!
Ricin `master` branch is currently deprecated as I'm working on rewriting Ricin from scratch, with clean codebase. Development now takes place on the `rewrite-clean` branch.

Contributions to the master branch are likely to be ignored and instead you should consider using another Tox client _(uTox, qTox, Toxygen, ...)_ that may fit your needs until Ricin v2 is ready to _dominate the world!_

[2016-10-13 17:53] #147 closed, assigned to nobody

[2016-10-13 17:53] SkyzohKey commented on #148
Hey!
Ricin `master` branch is currently deprecated as I'm working on rewriting Ricin from scratch, with clean codebase. Development now takes place on the `rewrite-clean` branch.

Contributions to the master branch are likely to be ignored and instead you should consider using another Tox client _(uTox, qTox, Toxygen, ...)_ that may fit your needs until Ricin v2 is ready to _dominate the world!_

[2016-10-13 17:53] #148 closed, assigned to nobody

[2016-10-13 17:54] #144 closed, assigned to nobody

[2016-10-13 19:22] AyoungDukie commented on #146
Haha, that sounds good, apologies for posting so many issues in the old branch. And yes, unfortunately for me the engineering tools I need for work are Windows only... I have my assortment of tools to make it more Nix-like to help ease the experience, so I make do!

[2016-10-29 15:09] SkyzohKey commented on #92
This has been implemented as `Message parsing mode` in latest `0.2.5` Ricin's master release, thus closing :)

[2016-10-29 15:09] #92 closed, assigned to nobody

[2016-10-30 10:35] SilverRainZ opened #149 "0.2.5 and git version doesn't show its windows"
- Arch Linux
- GTK 3.22.2+4+gc54f348-1
- Build script: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ricin

When I execute ricin, it only output the following logs, and doesnt show any window.

[code]

[2016-10-30 18:09] SkyzohKey commented on #149
Yeah it seems the PKGBUILD use the bad branch (rewrite-clean instead of master).
Changine the pkgbuild to compile master should fix the issue x)

[2016-10-30 18:21] SkyzohKey commented on #149
Just released 0.2.6 under the correct branch, everything should be fine now!

[2016-10-31 16:34] #149 closed, assigned to nobody

[2016-11-08 02:28] strixaluco opened #151 "No updates of AppImage builds since 0.2.1"
Thank you for developing Ricin, it looks really nice.
Sorry if it's not the proper place, but are there any updates for AppImage builds planned? I've checked back down from 0.2.8, but the most recent one accessible seems to be 0.2.1. There were lots of bug fixes and improvements since that version, hence it would be nice to have them in the build. Thanks.

[2016-11-08 14:15] SkyzohKey commented on #151
Yeah, appimages builds are broken and I have to wait @probonopd for a fix, dunno what it broken. I'll investigate thanks for the report guy ;)

[2016-11-08 18:42] probonopd commented on #151
Hi @SkyzohKey where can I see a log of a failed AppImage build?

[2016-11-09 03:00] strixaluco commented on #151
@SkyzohKey not at all :) Thanks for looking into this.

[2016-11-09 15:30] SkyzohKey commented on #151
@probonopd Just download ie. this build: https://transfer.sh/2g97j/ricin-git7cf32ff-glibc2.14-x86-64.appimage and try to launch it, it will fail :x
@strixaluco Thx to u for reporting the issue, anyway you can download Ricin on the official website as both HTTPS and Torrent ways. https://ricin.im/downloads.html#linux

[2016-11-09 17:45] probonopd commented on #151
@SkyzohKey can you give the link to the Travis build log of this build?

[2016-11-09 17:47] SkyzohKey commented on #151
@probonopd Yeah sure here you go: https://travis-ci.org/RicinApp/Ricin/builds/171881942

[2016-11-09 17:59] probonopd commented on #151
Sees to run for me on Xubuntu 16.04. What exactly is the issue?

[2016-11-09 18:10] SkyzohKey commented on #151
[code]

[2016-11-09 18:21] probonopd commented on #151
Is `libpcre.so.3` missing from your base system, and which distribution are you running? What happens if you add `libpcre.so.3` to the libraries bundled in the AppImage?

[2016-11-09 18:29] SkyzohKey commented on #151
@probonopd I'm using Fedora 23 and libpcre is there as `libpcre.so`, `libpcre.so.1` and `libpcre.1.2.7`, also how to add it to the libraries ?

[2016-11-09 18:32] probonopd commented on #151
At build time on Travis, copy it into the AppDir before the AppImage is generated. Actually I wonder why it got removed/not bundled in the first place since libpcre.so.3 is no longer on the [excludelist](https://github.com/probonopd/AppImages/blob/master/excludelist)...

[2016-11-09 18:36] SkyzohKey commented on #151
@probonopd May u log into irc as we can discuss that more easily plz ?

[2016-11-09 21:08] smaragdus commented on #151
I am aware that this is not the right place to ask but I do not want to start a new thread.
I would like to ask- is the Windows version of Ricin abandoned? Or the development is temporarily put on hold?

[2016-11-09 22:43] SkyzohKey commented on #151
@smaragdus The windows version will be updated soon, just time for me to find how to setup appveyor to automate the builds ;)

[2016-11-09 23:59] zezic opened #152 "Calls and smiles don't work"
## Summary
* **Operating System + version:** Ubuntu 16.04
* **Ricin's version:** 0.2.7, 0.2.8 and ec38fec builded myself
* **Ricin's commit hash:** ec38fec
* **GTK+ version:** 3.18.9
* **ToxCore version:** 0.1.3769.dcf2aaa-1
* **Hardware:** ASUS UX305FA with Intel Core M-5Y10
* **Reproducible:** Always

## Steps to reproduce:
1. Open chat with contact
2. Try to press call button or smile in smiyle

[2016-11-10 00:14] smaragdus commented on #151
@SkyzohKey

Thanks for your response.

I tested Ricin version 0.1.0 for Windows and I encountered a problem- it crashes any time I try to change "Default save path"- please see the screen-shot:

https://i.imgbox.com/deAvcZG0.png

Also I have a few suggestions:
- you may enable the use of "Enter" key in stead of clicking "Login" button.
- please try to get rid of the console window- it is very ugly

[2016-11-10 01:23] strixaluco commented on #151
@SkyzohKey thanks, I'll try on Stretch later, as I'm on Jessie now.

[2016-11-10 10:00] SkyzohKey commented on #152
Yeah these features are not yet implemented in Ricin, i should probably disable the not yet working buttons until it's done, just forgot to do it.

This issue is not an issue, thus closing. Sorry for the misleading UI :p

[2016-11-10 10:00] #152 closed, assigned to nobody

[2016-11-10 10:07] SkyzohKey commented on #151
@smaragdus The issues you listed are solved since long, but yeah I need to make a 0.2.8 build. I'll add the portable mode too, could works I guess.
@strixaluco I'll see why I doesn't have Jessie packages, looks weird :o

[2016-11-10 10:37] zezic commented on #152
Lol, guys, may be you should fix info at http://ricin.im/ to match really implemented features? Or at least add checklist with features status to repo?

[2016-11-10 10:45] SkyzohKey commented on #151
@strixaluco Ok .appimage for 0.2.8 is now available, but there is an issue with icons that doesn't shows, dunno why. @probonopd you already had solved this bug, how ? :(

[2016-11-10 11:05] SkyzohKey commented on #152
@zezic Yeah that's just here to being able to make translations more easily, also I plan to implement a/v/emojis soon so it'll take sense ;)

[2016-11-10 11:11] zezic commented on #152
@SkyzohKey OK, sorry for false alarm and thank you for nice customizable app!

[2016-11-10 12:43] rugk opened #153 "Builds for Debian"
Currently online Ubuntu builds are provided, but "GNU/Linux" != "Ubuntu".

You may also just use the tox.chat repositories for this.
Or maybe offer a statically linked version if it is not too large.

[2016-11-10 13:16] SkyzohKey commented on #153
There is an AppImage build, which should works on every Linux distro too, and I plan to make .rpm's
Static builds could be a solution yep

[2016-11-10 13:44] rugk commented on #153
I'd rather argue for Flatpak & Snap, which might be the distribution features (with sandboxing) of the future.

[2016-11-10 14:20] probonopd commented on #151
Icon generation has been removed from the AppImage runtime, since the optional `appimaged` daemon will handle desktop integration from now on. It was a hack anyway.

[2016-11-10 14:21] SkyzohKey commented on #151
i'm speaking about the icons inside the app :x

[2016-11-10 14:22] probonopd commented on #151
How is the app locating them? Using absolute paths?

[2016-11-10 14:22] SkyzohKey commented on #151
using gtk3 icons :/

[2016-11-10 14:23] probonopd commented on #151
Yes, how does the code do the lookup in the filesystem?

[2016-11-10 14:24] SkyzohKey commented on #151
It doesn't, gtk handles that for me. I simplye specify an icon name ie. `contact-new.symbolic` and gtk loads the icon from user theme

[2016-11-10 14:33] probonopd commented on #151
Is there a way in GTK to teach it to load icons relative to the binary executable rather than from a hardcoded `/usr` path determined at GTK compile time?

[2016-11-10 16:14] SkyzohKey commented on #151
@probonopd I dunno that, gonna ask on IRC.

[2016-11-10 16:55] SkyzohKey commented on #151
@probonopd Log from IRC:

[code]

[2016-11-10 17:05] probonopd commented on #151
`XDG_DATA_DIRS` seems to be the way to go - AppRun.c [should](https://github.com/probonopd/AppImageKit/blob/a49019dd6813298364554cb2d673f9a0be6e79f9/AppRun.c#L129-L131) set it to usr/share inside the AppDir.

[2016-11-10 17:34] SkyzohKey commented on #151
Didn't understand what you said, is that something related to appimage ?

[2016-11-10 17:46] probonopd commented on #151
What I meant to say is that when the AppImage contains an AppRun file compiled from AppRun.c, then it should have the correct value for `XDG_DATA_DIRS` set and hence should load the correct icons - but seemingly isn't, which is puzzling me.

[2016-11-11 11:53] SkyzohKey commented on #153
@rugk Flatpak needs a runtime, Snap too. AppImage is a standard format that runs everywhere without any dependencies needed, that's why I prefer it ;)

[2016-11-11 18:48] rugk commented on #153
Yeah, just publishing multiple formats would be great IMHO, so that everyone can use it. And if we use such container technologies we not only have a security enhancement, but there are also only 3 technologies to use (instead of the many .deb/.rpm/… package formats distros may have).

[2016-11-14 01:50] strixaluco commented on #151
@SkyzohKey @probonopd thanks a lot for fixes, guys. Now new builds are accessible, so I will close this issue. Hope nobody minds.

[2016-11-14 01:50] #151 closed, assigned to SkyzohKey

[2016-11-15 15:01] Ogromny opened #154 "Incohérence inscription/connexion"
Bonjour,
Quand l'on créer un profil sur tox et que l'on ne renseigne pas de mot de passe, et bien on ne peux pas se connecter sur ce profil car Ricin demande quand même un mot de passe

[2016-11-15 21:17] SkyzohKey commented on #154
Yeah that's a known issue, i'm going to fix it soon. Already working on it currently. c:

[2016-11-15 21:35] #154 closed, assigned to SkyzohKey

[2016-11-17 10:00] Ogromny opened #155 "Gtk 3.20 fix theme not work"
Hi,
When I enable custom theme in settings Ricin freeze :/

I'm on Gtk 322

[2016-11-18 16:00] Encrypt commented on #153
Just to be sure @rugk , when you say there is no package for "Debian", you mean Wheezy / Jessie, right?
Because there are actually packages for Stretch and Sid: https://build.tox.chat/view/ricin/

I couldn't create Ricin packages for Wheezy and Jessie because @SkyzohKey uses "cutting edge technologies" whose packages are not available for Wheezy / Jessie or too old at least.

[2016-11-19 11:03] rugk commented on #153
Ah okay, thanks for your information. In fact Wheezy is really outdated, but it would be nice if you could support Jessie. Maybe use jessie-backports?

[2016-11-19 23:04] SkyzohKey commented on #155
Hey, that's a known issue and it should be fixed once the pr #156 is merged ;)

[2016-11-25 12:00] SkyzohKey opened #157 "Add an offline mode, allowing to launch Ricin without toxcore."

[2016-11-26 09:26] SkyzohKey opened #158 "Ricin tries to bootstrap in UDP even with UDP disabled (proxy)"
This is a top priority issue as it may leads to :
- Privacy leaks ;
- Unability to bootstrap nor to join the network.

[2016-11-27 23:08] gitgud-software opened #160 "Use Better Ricin Icon"
If this exists:

![image](https://cloud.githubusercontent.com/assets/10673048/20652701/12ef594a-b4cc-11e6-8537-2c3c7d79621e.png)

why are we still using this everywhere in the application still?

![image](https://raw.githubusercontent.com/RicinApp/Ricin/master/res/images/icons/ricin_logo.png)

The former is much better, provided there is a scalable version of it.

[2016-11-28 01:29] gitgud-software opened #161 "Ricin Incompatible with c-toxcore"
## Summary
* **Operating System + version:**  Gentoo Linux
* **Ricin's version:**  0.2.9
* **Ricin's commit hash:**  0083423026bc3444c509da4b3c43031d0e2759b0
* **GTK+ version:**  3.20.9
* **ToxCore version:**  0.0.5 (TokTok/c-toxcore)
* **Occurrence:** Always

## Steps to reproduce:

1.  Install c-toxcore from https://github.com/TokTok/c-toxcore
2.  Attempt to compile Ricin against c-toxcore

## O

[2016-11-28 15:07] rugk opened #162 "Publish hashes or sign binaries"
Could you please publish SHA-256 hashes of the binaries on your website?
Or (additionally) better sign the binaries with gpg.

[2016-12-28 13:15] SkyzohKey commented on #160
Yeah I know that the first logo was probably better but since the original graphist didn't make any sign of life since he made it, and no scalable version of it is available, I'll keep using the second one.

Anyway, If you are interested in making the same as first one but in SVG, feel free to open a pull-request ;)

[2016-12-28 13:17] SkyzohKey commented on #161
That's normal as Ricin currently only works with the old ToxCore, but migrating to the TokTok version is planed and I'll work on this once I had merged groupchats, keeping 1 task before starting to work on another one is the only thing that permits me to make the code moving/growing in a nice maneer.

Sorry if this migration doesn't happens soon, but it should be done under almost 2 or 3 weeks.
An

[2016-12-28 13:19] SkyzohKey commented on #162
Yeah that's planed, currently the website is down cuz of self-hosting issues. The download pages already handle hashs for the files, that should be implemented soon, once the website is back to life. :)

[2017-01-02 00:06] Ogromny commented on #161
Je confirme que je n'arrive plus à lancer Ricin,

Je suis forcé d'utiliser Utox en attendant :/

46B8244865CCF924409B73A43F28D9D9AD0956611C78A860B80D71A7EE32B47F39221CA9D2CA <3

[2017-01-07 00:21] FiSHYsolutions opened #163 "download impossible"
obviously readme.md isn't up to date.

`wget https://cdn.ricin.im/linux/ricin-0.2.1.app` (as suggested)

results in:
`ERROR 523: Origin Unreachable.`

tried to download `https://cdn.ricin.im/windows/ricin-0.1.1-win32_x86-64.zip` (as suggested)

results in:
`Error 523 - Origin is unreachable`

[2017-01-10 16:08] lovesegfault opened #164 "Build Failing on Arch Linux"
## Summary
* Arch Linux
* gtk3 3.22.6-1
* toxcore 1:0.1.3-1
* Dell Latitude E6530

## Steps to reproduce:
1.  `sudo aura -Akx ricin` or `sudo aura -Akx ricin-git`

## Observed Behavior:
The build fails.

## Expected Behavior:
I hoped aura/makepkg would successfully build/install Ricin

## Additional infos:
[code]

[2017-01-15 18:04] spacekookie commented on #164
I have a similar issue.

[code]

[2017-01-25 17:18] killhellokitty commented on #164
Similar also with both ricin and ricin-git versions plus I have this printout at the very end:
[code]

Please see what can be done to fix this issue.  I also tried 0.2.8 with the same issue.
by the way, bemeurer 's code is printed out previous to what I have listed here as an addition.

[2017-02-04 12:36] SergeyDjam commented on #161
Oh, yes i too

[2017-02-07 17:51] SilverRainZ commented on #164
@SkyzohKey Maybe you should update your tox binding.

[2017-02-07 17:55] SilverRainZ commented on #164
Ok, in fact it is discussed in #161. Before it is fixed, you can install a old version (I dont know which one) of toxcore.

[2017-02-08 17:58] SkyzohKey commented on #163
That's normal, Ricin is now officially deprecated, please use another client :)

[2017-02-12 09:02] ProMcTagonist commented on #163
If Ricin is dead, please make a note of this at the top of the README.

[2017-02-12 13:14] SkyzohKey commented on #163
@ProMcTagonist The "unmaintained-dont-use" topic should help with that, updating the README should occurs soon ;)

[2017-02-13 21:10] verymilan commented on #163
w000000t? where is this topic? :o

[2017-02-15 13:30] SkyzohKey commented on #163
@tchncs At the bottom of the main Github page for Ricin. :) Now working on [Konv](https://github.com/SkyzohKey/Konv).

[2017-02-25 11:39] smaragdus commented on #163
@SkyzohKey
Ricin had been discontinued before it became usable, this is not good. I cannot trust your future projects.

[2017-02-25 14:05] AyoungDukie commented on #163
I am slightly confused, but I think I follow. Konv is going to be Ricin v2. Out of curiosity, why the name change? Is it branding, or was the rewrite bigger than originally thought?

[2017-02-26 10:09] SkyzohKey commented on #163
That's the big rewrite which is planed since ages and I finaly found the motivation to make it happens. Name changed because I lost the ricin.im domain name, so bought konv.im.

@smaragdus Ricin was a PoC that a Tox client could be written in Vala. Now that I've seen it could works nice, I'm rewriting the whole app with cleaner code, tests and c-toxcore. This is a sort of Ricin v.2

[2017-02-28 11:46] verymilan commented on #163
A rewrite from ricin.im to konv.im would be nice since i list my translation work as engagement reference to my applications (not software applications xD)... .
Also it is less confusing for old ricin users - you tried to announce this program as simple for everyone and now potencial users see the page deleted and just away.
You cannot expect a simple user to search the git repository for issues w

[2017-02-28 12:25] SkyzohKey commented on #163
@tchncs Yep website should be back soon, i have to work on it. Also, konv.im will have a clean code thus allowing me to make correct support for a/v and screensharing. All of that with decent UI/UX and cross-platform support.

Anyway thanks again in the interest you give to my projects mate. :)

[2017-04-01 16:18] dnkls commented on #163
Plz bro help download and compile for windows , https://ricin.im/downloads.html#windows is off line(((

[2017-04-02 10:22] SkyzohKey commented on #163
@dnkls please read the whole conversation, I explained why this link isn't working anymore, sorry for the inconvenience. 🙂

[2017-06-18 14:16] killhellokitty commented on #164
Sorry to have taken so long to respond.  I will take a look at the issue #161 and see if I can get it working.  I had Ricin working previously, I truly appreciate your work on this project.  Thanks
Killhellokitty~

[2017-06-19 09:55] tele1 commented on #164
Similar "Build Failed" on Debian 9.0 , Ricin-0.2.9
http://wklej.org/id/3204503/

[code]

[2017-06-19 12:17] SilverRainZ commented on #164
@killhellokitty Ricin is totally unmaintained, you should try other tox clients.

[2017-07-02 13:36] #163 closed, assigned to nobody

[2017-07-02 13:59] #162 closed, assigned to SkyzohKey

[2017-07-02 19:48] smaragdus commented on #163
**@SkyzohKey**
Is the development of the Windows version abandoned?

[2017-07-03 09:56] AyoungDukie commented on #163
I believe the project development has migrated to Konv.im (essentially a project renaming).

[2017-08-19 08:58] probonopd opened #165 "https://cdn.ricin.im/linux/ is down"
https://cdn.ricin.im/linux/ is down

[2017-08-20 11:11] Monsterovich commented on #165
Download binaries.
https://www.mediafire.com/file/gkg9wck8sh7vhjx/Ricin-build.tar.gz

Also get tox libraries from here.
https://tox.chat/download.html#gnulinux

[2017-08-20 11:33] probonopd commented on #165
It is still down.

[2017-08-20 13:22] mkody commented on #165
The project is discontinued and I'm sure it will not come back.
Build it yourself following the doc if you want to use it anyway: https://github.com/RicinApp/Ricin#install

**EDIT: Actually, just look at the new website, the links are there: https://konv.im/downloads.html#linux**

[2017-08-22 14:02] AyoungDukie commented on #165
Yes, I was going to point out @SkyzohKey has mentioned in other issues that the project has been migrated to Konv ([GitHub](https://github.com/SkyzohKey/Konv)) to develop the new version/successor to Ricin (I believe that he mentioned issues with code base quality, so he was essentially starting over).

Edit: just also realized that the full Ricin download history is on the new domain, so yeah, se

[2017-12-24 12:15] #155 closed, assigned to nobody